[2017-10-25 18:28] wrathagom opened #1 "Improve Errors Messages in API and UI"
## User Stories
 - As a developer using this API I want clear error messages that pinpoint the cause of problems so that I don't have to hunt deeper for them.
 - As a developer of a UI on this API I want clear and well structured errors that can be passed to the user interface and are readable my non-developer users so that they can troubleshoot their own agent creation without needing my support.

[2017-10-25 18:29] wrathagom opened #2 "Implement Pagination in API and UI"

[2017-10-26 19:46] dcalvom opened #3 "Implement list screens"
The attached images are examples of how the lists should look like.

These lists are necessary for domain, intent and entity screen.

![4-domains](https://user-images.githubusercontent.com/7228045/32073561-ca676dbe-ba53-11e7-8bcf-fcd51d8a4187.png)
![intents-page](https://user-images.githubusercontent.com/7228045/32073602-d6684f7a-ba53-11e7-9c59-2681972afb23.png)

[2017-10-26 19:58] dcalvom opened #4 "Make the context agent aware"
The idea is that the current `+ Create Agent` button in the side navbar that is used to create agents becomes a dropdown list where you can pick from a list of agents. Whenever you pick the agent, all the context change with the data related to that agent.

Whenever the user changes the agent, a new screen with the details of the agent is shown. The details are the same as the ones present in the

[2017-10-26 20:07] dcalvom opened #5 "Loading spinners and creation or error messages"
Whenever a resource is created the result is a plain text with the json response from the service.

The idea is to show some component that the reflects the loading status and also some messages. For this, I was thinking on using the toast component and the preloader component.

https://react-materialize.github.io/#/toast
https://react-materialize.github.io/#/preloader

[2017-10-26 21:29] dcalvom opened #6 "Edit records in the UI"
Implement the screens that would allow the user to edit data.

Here is some food for thought. Whenever you add or update an intent, the whole model will be retrained. It could happen depending on the size of the agent, that the training lasts some time. We need to think about how we are going to present that training time to the user.

[2017-10-26 21:30] dcalvom opened #7 "Delete records in the UI"
We need to show confirm dialogs for the deletion.

Consider the time of retraining after intent is deleted.

[2017-10-26 21:34] dcalvom opened #8 "Add new attributes to the Agent"
The UI form for agents includes language, timezone, and description. Language is not too important right now as we just support English, but we can leave that as is not a big effort given that is already implemented.

So, this issue consists in adding the language, timezone, and description attribute to the agent in order to use it whenever a parse endpoint is used.

The most part of this changes

[2017-10-26 21:42] dcalvom opened #9 "Beautify JSON output of parse and converse OR implement new _id strategy"
The uniqueness of the elements is being managed by the`_id` field in ES. That means that agents, domains, intents, scenarios, and entities are being identified by the `_id` field in the API.

The output of the parse or converse endpoint is hard to read given the GUIDs present in the output aren't developer friendly.

The idea here is two implement a beautify parameter the developer can set to true

[2017-10-26 21:44] dcalvom opened #10 "Import/Export in the API and the UI"
Is necessary to implement an import/export endpoint and functionality in the UI to let developers gain speed in the process of managing their agents.

[2017-10-26 21:46] dcalvom opened #11 "Validate forms and manage errors from the API"
A component called input warning already exists in the UI project. Use this component to validate each form of the UI in order to prevent bad requests to the API.

Related to this functionality is the error management. API returns different errors depending if some field is missing or bad data was sent. The idea is to show the proper alert to the user based on the error returned by the API.

[2017-10-26 21:50] dcalvom opened #12 ""Are you sure you want to leave?" message"
Whenever the user is on a screen that has a form and tries to navigate outside that screen a message of "Are you sure you want to leave?" should be shown.

[2017-10-26 21:57] dcalvom opened #13 "Bug fixing in the UI"
These are open bugs in the UI that need to be fixed

 * Autoscroll down when new examples are created in the entity screen
 * Autoscroll down when new data is entered in the intent screen in user sayings, slots and responses tables
 * Fix issue with Chips component on delete in the entity screen for synonyms
 * Fix issue with Chips component on delete in the intent/scenario screen for text prompts

[2017-10-26 22:03] dcalvom opened #14 "Manage entity colors"
The entity colors are used to identify entities in the UI. The color used by an entity is randomly selected when the screen loads.

We need to add an attribute to the entity that is color. This is going to be the hex value of a color from the material color palette. The goal is that each entity in the agent use a different color.

Check the wireframe that exists for this feature.

[2017-10-26 22:06] dcalvom opened #15 "System entities"
Some system entities that are returned by Rasa and Duckling are already managed, but, this is not totally implemented yet.

We need to finish that implementation on the API side and after that design the UI for those entities.

Consider these system entities need to be shown in the tagging process of user sayings.

This issue still requires design.

[2017-10-26 22:10] dcalvom opened #16 "Delete functionality of sub elements in intent/scenario screen"
Enable the feature of delete for tags in user sayings, slots, and responses.

[2017-10-26 22:20] dcalvom opened #17 "Design work of the UI"
The platform requires a logo and the welcome screen.

The welcome screen is already designed. This screen will only be shown when there aren't agents created. If agents exist, then the detail of the last edited agent should be shown on the welcome screen.

Check the welcome page:

![1-welcome](https://user-images.githubusercontent.com/7228045/32079810-92c1d71c-ba69-11e7-8f0f-1ac4236e57ad.png)

[2017-10-26 22:24] dcalvom opened #18 "JSON output in the UI for converse feature"
Developers would like to check the output of the converse endpoint to check what has been sent by the system for debugging purposes.

[2017-10-26 22:27] dcalvom opened #19 "Auto tag entities in the user sayings"
It should be nice to recognize the entities in the text of the user sayings to help users with the task of tag entities.

[2017-10-26 22:28] dcalvom opened #20 "Sample agents to import data to new agents"
Define sample agents to provide developers with a base for their new agents.

[2017-10-26 22:29] dcalvom opened #21 "Breadcrumbs"
This is a missing feature that is present in the wireframes. It helps the developers to navigate back and forward in the UI.

[2017-10-26 22:35] dcalvom opened #22 "User management"
There exist some cloud services that manage users like firebase and Auth0.

Auth0 offers free services for open source projects.

Once the authentication issue is solved, then we need to manage the sessions in the DB for two purposes. The first one to allow the platform to be multi-user, and the second one to enable session management in the converse side.

[2017-10-26 22:36] dcalvom opened #23 "Future features"
Multi language support
Responsive platform

[2017-10-26 23:45] dcalvom opened #24 "Context history"
The history of the context is being managed in memory. This was developed in this way for test purposes.

Now that we test it works, is time to move this to a better place. A whole discussion of a parallel DB is taking place right now given that ES haves a delay that could affect the behavior of the agent.

We need to talk with @milutz, @wrathagom and @ewoo to define what we are going to do to sto

[2017-10-26 23:48] dcalvom opened #25 "Multi User Contexts"
We are just managing one context. We need to create a persistent storage of the context, this is highly related to the issue #24, but the important thing here is to add an identifier that let the system identify the user that is interacting with the agent.

[2017-10-31 20:03] milutz opened #26 "Deleting Intents has un-expected behavior (was issue #60)"
I had a domain with only 2 intents, when I deleted one of them I don't believe that the domain classifier got re-trained.

Then when I tried to delete the 2nd the domain classifier tried to re-train, but failed because it only had one domain.

I'm still trying to verify this and reproduce it.

[2017-10-31 20:06] milutz opened #27 "Do names need to be unique? (Was #59)"
Right now we can have two (or more) of any item (agents/domains/intents/entities) with the same name. This is because we are keying off of IDs instead of the name. Should we go through the effort to make agents unique, then domains inside agents unique, intents inside domains, etc.

@malave how did you implement both names and _ids to be unique? We may need to do something similar here. Was it a l

[2017-10-31 20:08] milutz opened #28 "Handle Single Domain Agent (Wass issue #57)"
Right now trying to use /converse with just a single domain fails. The API returns:

[code]

and the error message is:

[code]

It seems like the domain classifier should only kick in when domain.count > 1

@dcalvom this one too, I was thinking you fixed it, but I can test if needed?

Mmmm, I think it requires some testing

[2017-10-31 20:10] milutz opened #29 "Create better test data (Was issue #56)"
Currently the test data in the repo isn't complete. By adding better test data users would be able to use test the API more easily.

[2017-10-31 20:12] milutz opened #30 "Implement pretty parameter in the parse endpoint (was issue #55)"
From Aug 31 on language-api, @wrathagom entered:

## User Stories:
 - As a developer using the API I want to be able to test and troubleshoot the `/parse` endpoint with full intent and entity names so that I can avoid having to make the calls to figure out what the UID values are.

## More Info

This parameter will modify the output to show names instead UUID in the result of the parse endpoint

[2017-10-31 20:14] milutz opened #31 "Rasa training errors out with less than 2 intents in model (Was issue #53)"
We shouldn't let a user create a domain with fewer than 2 intents.

That isn't a Rasa constraint? Is there something we can do...this is just my first thought, I'm going to research

It's a Spacy Requirement. A model with less than two intents is kind of pointless...

I'm saying our API shouldn't let it make it to Rasa, we know Rasa will error out so we should prevent the creation of domain with o

[2017-10-31 20:16] milutz opened #32 "Modify parse to allow plug and play ML pieces (Was issue #52)"
Right now we are using Rasa and Duckling as our parsers. Both run inside an Async parallel process. Once finished both results are merged into a final result. The idea of this change is to allow this endpoint to use whatever ML engine the developer decide to integrate to its parser.

This selection of ML engines should be flexible for each developer.

[2017-10-31 20:18] milutz opened #33 "Discourage the usage of ids inside the language API (Was issue #50)"
From Aug 17 on language-api, @dcalvom entered:

We are trying to avoid having to look up the _id first, but rather just be able to use the name of the parsed intent for lookup. One example of how a call can look is this:

`/agent/samson/domain/corporate/intent/acronyms/scenario`

Besides the improvement in style, this would make more developer friendly calls and also would help in the future for t

[2017-10-31 20:20] milutz opened #34 "Manage isList slots inside scenarios (was issue #48)"
The current slots structure allows the slots to be used as lists. This would be useful in cases like pizza toppings or if you are asking for multiple machines at the same time or scenarios like that.

This feature hasn't been implemented in the converse API to manage the response. We need to make an implementation of this if we keep with this structure.

[2017-10-31 20:21] milutz opened #35 "Update API to work with newest version of Rasa (Was issue #46)"
This one shouldn't be a high priority, but I don't want to get too far behind the latest release of Rasa.

I do know that they've changed the training data format quite a bit for entities and synonyms.

[2017-10-31 20:25] milutz opened #36 "Design and Implement a Conversation Loop (Was issue #12)"
API.ai had the idea of context. We're looking for something similar here, but in a much more targeted manner.

Internal to the NLU agent we are looking for something that can have basic back and forth communication to gather missing entities or clarify unknown ones.

This one still needs a lot of design :)

Researching on this...

An issue has been opened in RASA repo RasaHQ/rasa_nlu#423

I'm alre

[2017-10-31 20:26] milutz opened #37 "Design and implement a better training Loop (was issue #6)"
At the moment we are just going to kick off training at each POST/PUT that modifies a model. But this is less than ideal. We should have control over when we train such that all modifications can be completed.

We also need to implement a training test and feedback loop. When a model is first created we make sure that we can parse all intents and entities supplied in the training data. Whenever th

[2017-11-06 20:00] dcalvom opened #38 "Input component for dropdown lists doesn't like empty or just one option"
If you only use an option for the dropdown lists that implement the `Input` component of react materialize a bug will raise.

For example if you leave just one option in the timezone dropdown the bug will be shown.

We need to fix this because it also affects when no agents had been created and you enter to other screens.

A temporal fix was done by adding more options to the timezone dropdown. Th

[2017-11-07 21:04] dcalvom opened #39 "Regex for entity recognition"
Rasa included a `regex_features` section in their training data. We want to make use of this feature to improve the recognition of entities.

The idea here is that in the front end the user will have an optional field to enter a regex that helps the model to improve the recognition of the entity.

In the API we are going to store that as an attribute of the entity. When we create the training set

[2017-11-17 02:12] #23 closed, assigned to nobody

[2017-11-17 02:15] #9 closed, assigned to nobody

[2017-11-22 19:58] dcalvom opened #40 "Train endpoint and retrain after name updates"
Currently, we are just training domains whenever an intent is added, updated or deleted.

As we move to name references. Whenever a domain name, agent name or entity name gets updated it is going to affect the references to the trained models.

I was thinking about creating an endpoint at `domain/{id}/train` to call manual training for a given domain. This endpoint then can be called when an agent

[2017-11-24 18:17] #24 closed, assigned to nobody

[2017-11-24 18:18] #25 closed, assigned to dcalvom

[2017-11-24 18:49] dcalvom opened #41 "Adapt the UI to the api redis refactoring"
We moved the api from ES to redis. We need then to adjust some changes that were done in order to improve the api and also to take advantage of redis features.

[2017-11-26 15:41] wrathagom opened #42 "Slot Name being overwritten by Entity Name"
I created a scenario like this:

[code]

but yet when I converse I get this:

[code]

Notice that under slots it is *Acronyms* instead of the slot name I defined which was *Acronym*.

[2017-11-26 15:45] wrathagom opened #43 "Multiple Scenarios with Same Agent/Domain/Name combo"
Right now I can create the same scenario over and over. I can POST the below payload and I just keep getting a higher and higher ID returned.

[code]

[2017-11-26 20:10] #15 closed, assigned to nobody

[2017-11-26 20:10] #42 closed, assigned to nobody

[2017-11-28 04:48] dcalvom opened #45 "Usage of original value for parsed text"
In order to solve problems with system entities, we added an use original attribute to the slots object in the scenario.

This value will allow us to indicate that we want to use the original value rather than the parsed value of a recognized entity.

Nonetheless, this shouldn't so rigid. Sometimes maybe we would like to use the original value sometimes maybe not. I was thinking that it could be b

[2017-11-28 20:43] #35 closed, assigned to dcalvom

[2017-11-28 22:14] #30 closed, assigned to dcalvom

[2017-11-28 22:15] #27 closed, assigned to nobody

[2017-11-30 22:14] #41 closed, assigned to nobody

[2017-12-01 13:52] #34 closed, assigned to dcalvom

[2017-12-04 13:22] wrathagom opened #46 "Add POST option for Converse and Parse"
Knowing where we're heading we'll need converse and potentially parse to support `POST` requests. Let's go ahead and add them.

Don't worry about anything else I talked about, those will come in a different issue. Let's just add the endpoints for now.

[2017-12-08 02:03] #43 closed, assigned to nobody

[2017-12-08 02:03] #31 closed, assigned to nobody

[2017-12-08 02:03] #28 closed, assigned to nobody

[2017-12-11 17:58] #40 closed, assigned to nobody

[2017-12-11 18:14] #46 closed, assigned to dcalvom

[2017-12-13 21:00] #1 closed, assigned to nobody

[2017-12-13 21:44] #45 closed, assigned to nobody

[2017-12-15 13:37] #26 closed, assigned to nobody

[2017-12-19 13:26] #33 closed, assigned to dcalvom

[2017-12-21 08:05] malave opened #47 "Agent context errors found by @dcalvom"
The following are console warning or errors found in the test of the agent_context feature.

1. - [x] When you choose an agent, and you go to the intent screen, after you choose a domain:
[code]
2. - [x]  When you are on the intent screen and you highlight an entity in the user sayings part:
[code]
3. - [x]  When you are on the intent screen and choose an option of the dropdown in the agent respon

[2017-12-26 23:51] #38 closed, assigned to malave

[2017-12-26 23:51] #14 closed, assigned to nobody

[2017-12-26 23:52] #8 closed, assigned to nobody

[2017-12-26 23:53] #21 closed, assigned to malave

[2017-12-27 10:42] #47 closed, assigned to nobody

[2017-12-27 13:41] malave opened #48 "Refactor API URL configuration and remove the hard coded values"

[2018-01-02 08:33] malave opened #49 "Use react-router Link component to generate breadcrumb links"
Using an `a` element will cause the page to refresh and dropping the current state, instead by using the `Link` component the action will be delegated to `react-router` and this will update the state adn re-render the correct page. See this [example](https://github.com/samtecspg/articulate/blob/master/ui/app/components/NavSideBar/index.js#L82).

[2018-01-02 12:50] malave opened #50 "Create Entities list page and add delete functionality"

[2018-01-02 15:14] malave opened #51 "Implement proper async call of sagas"
Right now where are mostly calling an action, wait for the response and then either update the UI or redirect.

There are a few cases where another saga must be call and I had to perform some work arounds but there are some cases where this just created am unexpected behavior.

According to the redux [page](https://redux.js.org/docs/advanced/AsyncActions.html#async-action-creators) we could use `r

[2018-01-02 15:15] #7 closed, assigned to malave

[2018-01-04 17:40] dcalvom opened #52 "Config rasa pipeline instead of having two rasa containers"
We have two rasa instances configured in the docker-compose file. One is for full training and the other one is just for train entity recognition. We need to get rid of the second one and use the pipeline parameter in the train call to avoid having two containers.

This is how you call the training process with a custom pipeline:

`http://localhost:5000/train?project=pipeline-test&fixed_model_name

[2018-01-09 03:53] wrathagom commented on #50
This is merged correct?

[2018-01-09 04:02] malave commented on #50
@wrathagom Yes it's already in master.

[2018-01-10 13:51] dcalvom commented on #29
@wrathagom In what direction you would like to improve the test data?

[2018-01-10 13:52] dcalvom commented on #17
Solved by https://github.com/samtecspg/articulate/commit/b26ed03f4c2058d543a0a75ba2f5d0e7f66124ce

[2018-01-10 13:52] #17 closed

[2018-01-10 13:53] dcalvom commented on #5
Error and sucess messages solved by https://github.com/samtecspg/articulate/commit/b26ed03f4c2058d543a0a75ba2f5d0e7f66124ce

[2018-01-10 13:53] #5 closed

[2018-01-10 13:54] dcalvom commented on #4
Solved by @malave in https://github.com/samtecspg/articulate/commit/413a1865739ebbf3fb5501b888727064bd79c879

[2018-01-10 13:54] #4 closed

[2018-01-10 13:56] dcalvom commented on #3
Solved by @malave in https://github.com/samtecspg/articulate/commit/f7aa7339cca37d2440d2e1751e744ea12b96f403 , https://github.com/samtecspg/articulate/commit/1f0ff3f8c4587d77f63b30e90a47771299a5e220 , and https://github.com/samtecspg/articulate/commit/2f7a94c9080f5a2abcb7f80381a2f91f26162aa0

[2018-01-10 13:56] #3 closed

[2018-01-10 13:59] dcalvom commented on #11
Hapi.js allow us to specify custom errors in the API like in https://github.com/samtecspg/articulate/blob/master/api/modules/intent/config/intent.validator.js#L15 . So the next step is to pass through all the validators and create proper custom errors. Once that's done is jus master of test to check that the error is being shown properly.

[2018-01-10 15:44] #50 closed

[2018-01-10 16:15] dcalvom opened #53 "Recreate/Improve doc endpoint"
In the past we had an endpoint that let us retrieve the result of the document parsing. We need to recreate that endpoint to let users retrieve the result of a document parse.

[2018-01-10 17:17] wrathagom opened #54 "Move Helpers-Stuff and nlu-model folders"
Right now the helpers-stuff and nlu-model directory are stored inside of the API directory. To make it more clear that the folders are related to docker and to match styling with Conveyor I think we should move the helpers stuff to the root of the repo and move nlu-model into the helpers stuff directory.

Same thing for the config file.

[2018-01-10 17:28] wrathagom opened #55 "Custom Rasa Docker Build"
The Default Rasa Docker build uses the `en_core_web_sm` Spacy model, we should move to one of the larger models since the sm model is known to be more case sensitive.

We should also not install the JRE since we don't use the standard duckling.

We should also run alpine if possible.

[2018-01-10 17:33] wrathagom opened #56 "Examples in the Intent List should be a Count"
The Intent list currently shows the actual examples in the examples column. This was intended to show a count of examples.

[2018-01-10 17:43] wrathagom opened #57 "List Highlight alignment is off"
<img width="694" alt="2018-01-10_12-42-16" src="https://user-images.githubusercontent.com/1779894/34786973-b990713e-f603-11e7-819c-9b76e941b17f.png">

The check mark seems to be okay, but the text alignment is off.

@broham89 do you see it to?

[2018-01-10 17:45] wrathagom commented on #51
@malave when I select a domain in the intent list page the list doesn't always load is that related?

Also the client error console fills up with
[code]

every time I navigate to a list page. Is that related?

[2018-01-10 17:46] broham89 commented on #57
@wrathagom hmm I think there is a weird padding/margin on the top of the gray list. The gray bar should touch the border above it with no white space between.

[2018-01-10 17:48] wrathagom opened #58 "Create pages should scroll as the page grows"
When I am going to town adding entities or examples the page should scroll to keep the input on screen. Currently it falls off the bottom of the page.

[2018-01-10 17:51] wrathagom commented on #57
Also seeing this on Entities, even worse because of the big color box.

<img width="827" alt="2018-01-10_12-51-10" src="https://user-images.githubusercontent.com/1779894/34787346-f13cec9c-f604-11e7-9cd9-820da1b129b7.png">

[2018-01-10 17:55] wrathagom opened #59 "Intent List doesn't populate"
Currently the domain list doesn't populate at all when you first go to it.

If this is expected behavior then we should change that, default should be to show all intents in all domains within the agent.

However, even after I select a domain the list still does not populate.

[2018-01-10 17:55] wrathagom commented on #51
I created #59 just in case

[2018-01-10 17:56] broham89 commented on #57
@dcalvom @wrathagom I think it would be best if it was a tiny circular dot instead.

[2018-01-10 17:57] wrathagom opened #60 "Chat Side panel wont accept input"
Starting from a forced refresh select an agent, then go to the intents page. Now trying typing something to the agent. The chat side panel wont accept an input, when I hit the `enter` key nothing happens.

[2018-01-10 18:04] wrathagom opened #61 "Prompt bubble doesn't follow text over break"
<img width="720" alt="2018-01-10_13-03-49" src="https://user-images.githubusercontent.com/1779894/34787865-c314b06e-f606-11e7-9217-adf00eb3a29d.png">

[2018-01-10 18:14] wrathagom opened #62 "Autocomplete of available slots doesn't seem to be working."
I get the pop-up, but whenever I click on an option nothing happens.

[2018-01-10 18:15] wrathagom opened #63 "Validate Slot Templates and entity highlights before Save/Submit"
When the save/submit button is checked we should validate all of the prompt and response strings for valid {} template variables.

[2018-01-10 18:27] wrathagom opened #64 "Strip ID's on export"
Once the import doesn't use the IDs we should remove them before exporting.

[2018-01-10 18:34] wrathagom opened #65 "Chat Panel Alignment and Overlap"
So as you can kind of see from this image the input box isn't in the right spot, but more importantly the chat is actually going over the input box.

This is another place where we should scroll the list as more input comes in.

[2018-01-11 01:17] wrathagom commented on #13
I created a seperate issue #58 that seems to overlap a little bit with this one. Also #65 needs to scroll as well.

[2018-01-11 01:20] wrathagom commented on #18
@broham89 we need a design for this one, but it probably goes at the bottom of your current list.  In the chat side panel. How can we show complex information like the raw JSON payload behind messages/etc.

Dialog Flow it's a button + Modal
<img width="396" alt="2018-01-10_20-19-46" src="https://user-images.githubusercontent.com/1779894/34803876-a781f13a-f643-11e7-8739-ff9f24c4a2ee.png">

<img wid

[2018-01-11 01:21] wrathagom commented on #12
@broham89 any input on what these messages should look like? Or do we already have some sort of an alert/modal styling for Articulate?

[2018-01-11 01:56] wrathagom opened #66 "Unbalanced Intent Training Data"
Currently the way we generate training data creates a cross product of all entities, synonyms, and training examples. For intents like Greet, Goodbye, etc this results in the number of examples in the training data being equal to the number of examples given in the UI.

However for intents like ordering pizza this could result in thousands of possible combinations. When we take the cross of 10 int

[2018-01-11 06:40] dcalvom commented on #58
Closed by https://github.com/samtecspg/articulate/commit/4fbbb79e7bd71903ba8f27a9bdc2df464c70d0d2

[2018-01-11 06:40] #58 closed

[2018-01-11 06:41] dcalvom commented on #13
Fixed autoscroll bug with https://github.com/samtecspg/articulate/commit/4fbbb79e7bd71903ba8f27a9bdc2df464c70d0d2. Just missing the position of the dropdown in the agent responses

[2018-01-11 06:44] dcalvom commented on #60
I don't know if I'm not following the right steps, but I'm having a response. My steps:

1. load manually http://localhost:3000
2. Select an agent
3. Click on intents to enter in the intent list page
4. Talk with the agent

[2018-01-11 06:45] dcalvom commented on #65
Can you attach the image you are referring?

[2018-01-11 23:03] broham89 commented on #12
[icon.zip](https://github.com/samtecspg/articulate/files/1624419/icon.zip)
![warning-popup](https://user-images.githubusercontent.com/11262149/34851702-e07ac158-f6f0-11e7-8e4b-e0956aa63009.png)

Here is a design that would work for a warning popup. I've also attached the icon with the confused face to display.

[2018-01-11 23:04] dcalvom commented on #12
Nice! I will ask your for the css files

[2018-01-16 08:57] malave commented on #51
Errors reported by @dcalvom:

- [ ] When you create an agent the redirect is to http://localhost:3500/wizard/entity-intent instead of http://localhost:3500/wizard/domain
- [ ] The intent post doesn't have the intent name inlcuded. In the past once the intent was created the reference to the id was pssed
- [ ] The list of domains wasn't loaded, if you click on the `domains` link in the menu twice,

[2018-01-17 06:40] dcalvom commented on #16
Closed by https://github.com/samtecspg/articulate/commit/575f3531fe17d357251ef4d480f5ac00a176cf91

[2018-01-17 06:40] #16 closed

[2018-01-17 21:55] wrathagom opened #67 "/Parse shouldn't return full domain recognizer results"
Maybe something like this. Note the addition of the `domainScore` key to each result object.

[code]

[2018-01-18 02:47] wrathagom opened #68 "Move Save/Create buttons to breadcrumb bar on all screens."
Currently the info/alerts cover up these buttons which is really annoying. The buttons also cover up actions on the page. So we should move the buttons to the breadcrumb bar.

[2018-01-18 02:50] wrathagom commented on #68
<img width="1648" alt="2018-01-17_21-49-36" src="https://user-images.githubusercontent.com/1779894/35078459-5c7cbdcc-fbd0-11e7-960e-fd35d4d857dd.png">

[2018-01-18 02:50] wrathagom commented on #65
<img width="337" alt="2018-01-10_20-19-46 1" src="https://user-images.githubusercontent.com/1779894/35078479-787ec84e-fbd0-11e7-9984-3baa468e14dd.png">

[2018-01-18 03:01] wrathagom opened #69 "Newly Created entities don't show in entity list"

[2018-01-18 08:58] #51 closed

[2018-01-18 08:58] #48 closed

[2018-01-18 15:51] wrathagom commented on #69
Fixed with https://github.com/samtecspg/articulate/commit/20ba99e8f862f31368db631f4b2a5a89aa9d3265

[2018-01-18 15:51] #69 closed

[2018-01-18 15:55] wrathagom opened #70 "Highlighting entities in user examples is not working"
![2018-01-18_10-55-54](https://user-images.githubusercontent.com/1779894/35107211-610e7b0a-fc3e-11e7-9857-c9d39b1333d7.gif)

[2018-01-23 19:57] #62 closed

[2018-01-23 20:29] wrathagom commented on #70
The last word in the example highlighted from left to right still doesn't work! fix it!

[2018-01-23 20:30] #60 closed

[2018-01-23 20:30] #59 closed

[2018-01-23 20:31] wrathagom opened #71 "Remove Sample Data drop down"

[2018-01-23 20:32] wrathagom opened #72 "Delete pop-up is uncatchable"

[2018-01-23 20:33] wrathagom commented on #63
Trim spaces or similar solution when highlighting entities.

[2018-01-23 20:33] wrathagom opened #73 "Remove @ sign from entity name in slot list"

[2018-01-23 20:34] wrathagom commented on #73
Replace with brackets

[2018-01-24 08:51] malave opened #74 "Intent: Error during Entity selection"
1. Add an user says example
2. Click in it but don't highlight anything
3. The entity dropdown will show up
4. Select anything from the dropdown

[code]

[2018-01-24 08:55] malave opened #75 "Intent: Error during creation without a Intent Responses will fail but still create the intent"
1. Fill the form except the `Intent Response`
2. Click on create
3. An error will show up saying that you should add a `Intent Response`

The intent will still be created at this point and even if you add the `Intent Response` it won't let you save it.

[2018-01-24 20:46] wrathagom opened #76 "Handle renaming a slot"
Right now if you have already defined agent response and you change the slot name then the agent responses remain using the wrong slot name.

[2018-01-26 09:13] malave commented on #49
Fixed on: https://github.com/samtecspg/articulate/commit/530d98a438fb6fa45b2af18e4cc77a05f616f1f9

[2018-01-26 09:13] #49 closed

[2018-01-26 14:22] wrathagom commented on #65
@broham89 do you think you can get Articulate up and running to inspect the page and see what's going on here?

[2018-01-26 14:25] broham89 commented on #65
@caleb sure. What are the steps to get it up and running?

[2018-01-26 14:54] wrathagom opened #77 "Webhook Enhancements"
There are several components to this:

- [X] When specifying the URL for the webhook a user should be able to select the method
- [X] The URL should pass through a handlebars formatter. Allowing anything from the current context to modify the URL. For example:

[code]

- [X] A toggle-able JSON payload should be added, that also can be formatted via handlebars. For example:

[code]

- [ ] We should

[2018-01-26 15:08] wrathagom opened #78 "Allow slot to be filled by multiple entities"
Idea being here that you may want to train your own entity extractor, but have it supplemented by a system one or other custom ones.

For example custom entity `userName` could be supplementented by `sys.spacy_person`.

[2018-01-26 15:15] wrathagom commented on #55
@milutz I think we should to this as part of our **packaging for v0.5** the 0.10.4 Rasa image has some bugs around model loading that I want to avoid running into. Plus, if we build with alpine maybe we can save some space?

[2018-01-26 15:16] wrathagom commented on #54
@milutz also good for packaging for v0.5

[2018-01-26 15:16] wrathagom commented on #52
@dcalvom this is finished right?

[2018-01-26 15:24] wrathagom commented on #2
I'm going to remove this, we'll save pagination for the the next UI iteration.

[2018-01-26 15:25] wrathagom commented on #11
@dcalvom what's the status of this?

[2018-01-26 15:25] wrathagom commented on #12
@dcalvom this isn't live yet?

[2018-01-26 15:26] wrathagom commented on #13
@dcalvom did the last item here get fixed?

[2018-01-26 15:27] wrathagom commented on #18
@broham89 I am going to close this issue, but we should target this for the next UI iteration as you already know.

[2018-01-26 15:27] #18 closed

[2018-01-26 15:51] wrathagom opened #79 "Intent List should default to showing all"
Right now the intent list only shows intents once you've selected a domain. Let make it show all intents by default and filter when you select something from the dropdown.

[2018-01-26 18:41] wrathagom opened #80 "Cannot Create entities"
The error bar shows: `child "agent" fails because ["agent" must be a string]`

Console shows:

[code]

[2018-01-29 02:57] dcalvom commented on #70
Caleb I fixed this last monday

[2018-01-29 02:57] dcalvom commented on #71
I did this too last monday

[2018-01-29 02:58] wrathagom commented on #70
We left this one open since the highlight of the last word is still a little bit broken. ideally you'd be able to highlight right to left or left to right, but at the moment left to right doesn't work for some reason.

[2018-01-29 02:58] #71 closed

[2018-01-29 03:06] dcalvom opened #81 "Change success messages when finish edit"
When you successfully edit a record, the message is showing as it was created instead of edited.

[2018-01-29 03:29] wrathagom opened #82 "Freeze Redis version in compose file"
Just in case anything changes we don't want to get caught by surprise.

[2018-01-29 13:38] wrathagom commented on #80
@dcalvom @malave is this fixed?

[2018-01-29 15:25] milutz commented on #55
@wrathagom ... to make sure I understand what your saying, you want to:

1: replace the line https://github.com/samtecspg/articulate/blob/master/docker-compose.yml#L40 with a rasa build controlled by our team
2: (because of above ... maybe??... ) clone rasa_nlu into our team
2.5: mod our build so it doesn't install JRE, and so it builds from alpine
3: (because of above) setup dockerhub/cloud to do

[2018-01-29 15:26] milutz commented on #82
Ugh! didn't catch that its set to latest! https://github.com/samtecspg/articulate/blob/master/docker-compose.yml#L49

I'll change when I'm running through packages if someone else doesn't change it before me

[2018-01-29 15:29] wrathagom commented on #55
Sounds good to me.

[2018-01-29 15:30] wrathagom commented on #81
Agree we want to fix and if it's simple then do it this week, but I'm also fine with it waiting until next week.

[2018-01-29 23:38] dcalvom commented on #72
Solved by @malave

[2018-01-29 23:38] #72 closed

[2018-01-30 00:45] dcalvom opened #83 "Change intent examples format to let edit"
Given the plain format we gave to the intent examples the reconstruction for edit wasn't possible. We are now returning back to the old full example format that includes the start, end, value and entity attributes, so we can recreate the user sayings as they were added by the user.

This issue was already tackled by https://github.com/samtecspg/articulate/commit/346bcffa11760cf54815249e3599d92f6ee

[2018-01-30 00:45] #83 closed

[2018-01-30 00:46] #80 closed, assigned to malave

[2018-01-30 19:01] dcalvom commented on #54
Closed by https://github.com/samtecspg/articulate/commit/99c7edb7605e023611fc57159f4b9209acb8f656

[2018-01-30 19:01] #54 closed

[2018-01-30 23:01] milutz commented on #55
I'm trying to gear up for getting the rasa image built but need some more bits...

For our 0.5 release which RASA do we want to 0.10.4, .5, .6, or the just blessed 0.11.0?
Our compose in master is on 0.10.4 https://github.com/samtecspg/articulate/blob/master/docker-compose.yml#L41
Blame on the line has a comment from Daniel 3 months ago saying "Change docker file to use newest version of Rasa" tha

[2018-01-31 00:39] broham89 commented on #65
@dcalvom to fix this you would need to target `.bottom-nav`

-  `.bottom-nav`  {
    ~~margin-top: 77vh;~~
    bottom: 75px;
    width: 100%;
    position: absolute;
    }

[2018-01-31 01:12] wrathagom opened #84 "Need to handle languages better"
Ideally we would think of a way for the API to tell the UI which languages are available. Since Rasa doesn't have this functionality we will have to work through that part of it.

No hurry on this though.

[2018-01-31 01:17] wrathagom commented on #55
Let's do 0.11.0 nothing groundbreaking by the looks of things.

Let's make sure we have these models installed:
 - en_core_web_md
 - de_core_mews_sm
 - es_core_news_md
 - fr_core_news_md

essentially preferring the medium models with vectors were available.

[2018-01-31 01:23] dcalvom opened #85 "Management of languages in duckling and rasa in parse endpoint"
We want to send the language parameter in the call of parse so we can pass this parameter to duckling and rasa.

Probably the format for duckling is `curl -XPOST http://0.0.0.0:8000/parse --data 'lang=en&text=tomorrow at eight'`

[2018-01-31 01:26] wrathagom commented on #70
Holding until @malave is done with these components and edit functionality.

[2018-01-31 01:27] wrathagom commented on #74
Holding while @malave finishes edit functionality

[2018-01-31 01:28] wrathagom commented on #6
@malave think we can get this done today/tomorrow?

[2018-01-31 03:12] milutz commented on #82
I haven't done the edit but redis 4.0.6 is likely the safest pick (given all the critical bugs that are in the earlier releases)

[2018-01-31 15:09] #82 closed

[2018-01-31 15:23] milutz commented on #82
( @wrathagom added this into the compose on commit 6ba1f8799d1593b22285225b5527937d31c8d64f )

[2018-02-01 02:06] milutz opened #86 "Rename `helpers-stuff` to `docker-storage` (or note why not)"
`helpers-stuff` directory name doesn't make much sense.  @wrathagom is using `docker-storage` in new projects, so try that out in the 0.5 effort

[2018-02-01 13:25] ewoo opened #87 "Intents list's columns should be resized"
The columns on this list should be resized such that intents column is narrower--to make more space to display examples.

[2018-02-01 13:27] ewoo opened #88 "Search box in Intents list does not work"
The search box in intents list does not appear to work. Or at least when the list of intents is small, there is no visual feedback that search is working.

[2018-02-01 13:29] ewoo opened #89 "Add "used-in" column in entities list"
When viewing the list of entities, it would be nice to have a columns called "used-in" that lists the intents in which the given entities appears (i.e. is denoted). This column could use pils or display in a similar manner to "examples" shown in the intents list elsewhere.

[2018-02-01 13:29] wrathagom commented on #87
It's not supposed to display the examples in the first place :) unless you like it. It was originally intended to be a count. #56

![intents-page](https://user-images.githubusercontent.com/1779894/35681009-0deb125c-072a-11e8-9d44-528c71b2b571.png)

[2018-02-01 13:41] ewoo opened #90 "Enable navigation links in Domains, Intent, Entities lists"
It would make navigation so much easier if within each table/list you can click on the item in the list to navigate to see the details of that item.

Examples:

- [x] Domain list: clicking on domain name navigates to Domain Intents list view
- [x] Domtain Intents: clicking on the intent navigates to intent create/edit view
- [x] Entity list: clicking on a "used-in" intent navigates to the intent/c

[2018-02-01 13:44] ewoo opened #91 "Transparency bug in "Test your agent here" panel"
In Chrome, with a tall vertical view, the transparency in the "Test your agent here" panel is not rendered correctly. When you reduce the height of the browser, it corrects itself.

![image 2018-02-01 at 8 41 53 am](https://user-images.githubusercontent.com/278197/35681656-196f7c7e-072c-11e8-9a22-f62ac8068c01.png)

[2018-02-01 13:46] wrathagom commented on #91
Closed in favor of #65

[2018-02-01 13:46] #91 closed

[2018-02-02 02:43] wrathagom commented on #6
I think that does it right?

[2018-02-02 02:43] #6 closed

[2018-02-02 02:50] wrathagom opened #93 "Edit/Delete hover menu is tricky to click"
I have troubles getting this menu to stay open long enough for me to click one of the buttons.

[2018-02-02 04:05] wrathagom commented on #85
@dcalvom did you test duckling in Spanish too? Seems to me you've have to use the API to do this properly right?

[2018-02-02 05:25] dcalvom commented on #75
Closed by https://github.com/samtecspg/articulate/commit/653037747ca59843ff5b81939dc6c1ccff1dd286

[2018-02-02 05:25] #75 closed

[2018-02-02 09:11] malave opened #94 "Use of Immutable.js is not consistent"
We are using a combination of Immutable objects and plain javascript objects causing us to validate if the object we are currently handling is immutable in order to properly access its values. This causes duplicate code and unnecessary complexity since we are doing the same login in two different ways.

For example this logic appear in two different places doing the same but one for immutable and

[2018-02-02 14:51] dcalvom commented on #94
Closed by https://github.com/samtecspg/articulate/commit/beefb390fd67f315461d27bce902974cef3c02ab

[2018-02-02 14:51] #94 closed

[2018-02-02 15:26] dcalvom commented on #74
Closed by https://github.com/samtecspg/articulate/commit/d018df6d06989b2411ad551e0230707d920dae9e

[2018-02-02 15:26] #74 closed

[2018-02-02 15:26] dcalvom commented on #70
Closed by https://github.com/samtecspg/articulate/commit/d018df6d06989b2411ad551e0230707d920dae9e

[2018-02-02 15:26] #70 closed

[2018-02-02 15:35] dcalvom commented on #93
Closed by https://github.com/samtecspg/articulate/commit/a6440b0b2604d4aa7074daa41115f957a59eb7cb

[2018-02-02 15:35] #93 closed

[2018-02-02 15:47] milutz commented on #55
The custom rasa docker build is done, but in a separate repo - we've decided that we want to pull it all in here, so all thats left is for me to make a new directory for it in here (and then add it to all the docker hub/cloud stuff for Articulate)

[2018-02-02 17:03] wrathagom opened #95 "Clicking on a suggested slot in the agent response moves the cursor"
When you select a slot from the pop-up that appears when writing agent responses the cursor is removed from the input box.  Ideally the purpose would stay in the input and be moved to the end of the string you are typing.

[2018-02-02 17:39] dcalvom commented on #95
Closed by https://github.com/samtecspg/articulate/commit/7041aca74d924d668c442aca2499f58ecf3123cfC

[2018-02-02 17:39] #95 closed

[2018-02-02 17:40] dcalvom opened #96 "Allow Agent Fallback Response to be Modified"
When a text is not recognized by an agent a fallback will be throw.

The current fallback values are hardcoded in articulate. @broham89 we need some a new table maybe like agent response in the create agent screen to add as many fallbacks as the user wants.

[2018-02-02 18:20] milutz commented on #86
`docker-storage` sucks as a name because it will be in the same dir as `docker-compose.yml` and hence screws with tab-autocomplete

Trying out 'local-storage' instead (@wrathagom cause you any heart-burn?)

[2018-02-03 01:39] wrathagom commented on #96
@dcalvom just re-use the interface for agent responses.

@broham89 keep in mind that you will need to add this to your UI v2 designs.

[2018-02-03 01:57] #52 closed

[2018-02-03 01:57] wrathagom commented on #11
@dcalvom status check?

[2018-02-03 01:58] wrathagom commented on #13
@ecalvom status check?

[2018-02-03 01:59] wrathagom commented on #29
Close in favor of #20

[2018-02-03 02:00] wrathagom commented on #36
This is in the current version of Articulate in a relatively simple rule based form. Primary issue has been completed, though I am sure there will be follow on instances as find weaknesses of the current implementation.

[2018-02-03 02:00] #36 closed

[2018-02-03 02:27] dcalvom commented on #11
There still a lot of messages to improve, but at least we are generating alerts for errors.

[2018-02-03 02:28] dcalvom commented on #13
The only missing is `Fix position of the dropdown selector of slot in agent response in the intent/scenario screen.` but this can be more a dessign task than an issue. Because the dropdown is always showing on top as the agent response input is always at the bottom of the screen.

[2018-02-03 03:08] wrathagom opened #97 "Force isList to be checked if any user says example has two highlights of the same entity"
Right now you can train sentences with multiples of the same entity highlights and not have isList checked. this seems to me that it would be troublesome. Could be considered to be part of #63

[2018-02-03 03:53] wrathagom opened #98 "Context Should be persisted on each fulfillment"
Right now if you ask the question: What does SFC stand for? you're context will look like this:

[code]

If you then turn around and ask What does PICS stand for the context doesn't get appended it get's replaced:

[code]

So I am trying to establish a rule that **_a new context entry should be created for each successful fulfillment._**

If you applied this rule then the context would look like t

[2018-02-05 14:52] milutz commented on #55
As-of the above commits, rasa build is in the Articulate repo and builds are configured on dockerhub - closing

[2018-02-05 14:52] #55 closed

[2018-02-05 14:53] wrathagom commented on #86
none here.

[2018-02-05 14:53] #86 closed

[2018-02-05 14:53] milutz commented on #86
As-of above commits directory is renamed, and the project has been started up, so the change is believed to be working correctly - closing

[2018-02-05 16:26] wrathagom opened #99 "Keep getting "undefined" in agent response"
Here's what the chat looks like, note the last response
<img width="293" alt="2018-02-05_11-24-19" src="https://user-images.githubusercontent.com/1779894/35815696-1fe184f6-0a67-11e8-8219-cfd42982e2b9.png">

and here is the context:
[
  {
    "id": "5",
    "name": "Greet",
    "scenario": "Greet"
  },
  {
    "id": "6",
    "name": "Order Pizza",
    "scenario": "Order Pizza",
    "slots": {

[2018-02-06 09:01] #56 closed

[2018-02-06 09:01] #73 closed

[2018-02-06 09:01] #79 closed

[2018-02-06 20:43] wrathagom opened #100 "Is List slot with leading comma"
I managed to make this happen earlier:

may be related to #99

<img width="297" alt="2018-02-06_15-42-41" src="https://user-images.githubusercontent.com/1779894/35883173-608336ba-0b54-11e8-849e-8f17d129703e.png">

[2018-02-06 21:16] dcalvom commented on #85
@wrathagom I have added the language parameter so now whenever you want to use any other language rather than the default `en` you need to send that in the request of `converse` or `parse`.

I tested Duckling and it returns the result depending on the language you sent it.

I don't have clear if this cover your issue or not.

[2018-02-06 23:32] dcalvom commented on #81
@malave I took this one

[2018-02-06 23:52] dcalvom commented on #76
Closed by https://github.com/samtecspg/articulate/commit/634da469db9d7e9936153fc0b091b92ca3da306e

[2018-02-06 23:52] #76 closed

[2018-02-06 23:52] dcalvom commented on #61
Closed by https://github.com/samtecspg/articulate/commit/ef6a14127b9ab738a737a5be936d410b37ef0013

[2018-02-06 23:52] #61 closed

[2018-02-06 23:53] dcalvom commented on #64
Closed by https://github.com/samtecspg/articulate/commit/f50bad70dcc48d47fedb64f03ed86d6e61d3f784

[2018-02-06 23:53] #64 closed

[2018-02-06 23:53] dcalvom commented on #96
Closed by https://github.com/samtecspg/articulate/commit/83a5a713ca54c3b049143dafb510b061dd6da448

[2018-02-06 23:53] #96 closed

[2018-02-06 23:54] dcalvom commented on #81
Closed by https://github.com/samtecspg/articulate/commit/3adc67ed1599b3ab2a82523e22db48501b97fca5

[2018-02-06 23:54] #81 closed

[2018-02-06 23:58] dcalvom commented on #85
Closed by https://github.com/samtecspg/articulate/commit/8ce71a187edbe61d7ad6d3a1b6117871f50df698. Now the parse endpoint will use the language of the agent to call duckling

[2018-02-06 23:58] #85 closed

[2018-02-07 03:31] dcalvom commented on #99
Closed by https://github.com/samtecspg/articulate/commit/f46d0063f1baeb44b281f699a1096696e04e973e

[2018-02-07 03:31] #99 closed

[2018-02-07 03:31] dcalvom commented on #100
Closed by https://github.com/samtecspg/articulate/commit/f46d0063f1baeb44b281f699a1096696e04e973e

[2018-02-07 03:31] #100 closed

[2018-02-07 03:52] wrathagom commented on #99
@dcalvom what's the behavior now? does it loop until the slot is filled?

[2018-02-07 03:53] wrathagom commented on #61
Can you post a screenshot of the final product?

[2018-02-07 03:55] wrathagom commented on #89
@ewoo what about entities like part number/user that could be used in 10's or more of intents?

[2018-02-07 03:56] dcalvom commented on #61
![image](https://user-images.githubusercontent.com/7228045/35897781-8260fcc0-0b88-11e8-8028-b9f016a0789f.png)

[2018-02-07 03:57] wrathagom commented on #90
I removed this form 0.6 because I need the question answered on #89 first. Maybe a mock-up from @broham89 of what that would look like.

[2018-02-07 03:57] dcalvom commented on #99
Yes, it randomizes prompt messages until the slot is filled. If the prompt is a template (use other filled slots values) those prompts have priority.

[2018-02-07 04:58] wrathagom commented on #98
Writing it down before I forget it. @ewoo mentioned the idea of frames vs context. More to come shortly.

Partially related to #53 thinking that doc is to `/parse` what frame is to `/converse`

[2018-02-07 13:46] wrathagom commented on #77
More information here https://public.3.basecamp.com/p/xirx3r6iQSBJmqeQGY1yy3tM

[2018-02-07 14:53] wrathagom opened #101 "Improved Response Generation"
Right now the agent response can only access the slots and they are being templated manually.

- [ ] Replace the manual templating with handlebars
- [ ] if the intent uses a webhook expose the entire response payload
 - [ ] If the intent response includes a `textResponse` use that rather than templating
- [ ] If the intent does not use a webhook expose the Conversation State Object

[2018-02-07 15:59] milutz opened #102 "API needs to gracefully deal with the DB being unavailable"
As of 0.5.0 if the DB isn't available at startup the API crashes.

The API needs to do something more graceful in this case. (at minimum exit with a message - but better would be to retry, at least for 5 mins or so)

Also a test needs to be done to see what happens if the DB becomes unavailable while the API is running - crashing in this case seems unwise, but perhaps the driver already deals with

[2018-02-08 21:46] dcalvom commented on #67
This is the new object resulting from the parse endpoint:

[code]

[2018-02-08 22:12] dcalvom commented on #63
Closed by https://github.com/samtecspg/articulate/commit/c853e3c40d425043c0787b27167f0cb3c34f6f36

[2018-02-08 22:12] #63 closed

[2018-02-08 22:12] dcalvom commented on #67
Closed by https://github.com/samtecspg/articulate/commit/e97220f01c373e7b0c6e2e85056d6ff22f62f19a

[2018-02-08 22:12] #67 closed

[2018-02-08 22:14] dcalvom commented on #65
@wrathagom could you verify if this error is still happening. I tested multiple resolutions and seems to be solved. I'm going to close it, but feel free to reopen it if you still find some issues.

[2018-02-09 02:09] dcalvom commented on #68
Closed by https://github.com/samtecspg/articulate/commit/3e914e1e6527abf0b6dc46c408aa3fc0ef839358

[2018-02-09 02:09] #68 closed

[2018-02-09 13:35] #88 closed

[2018-02-12 13:43] #89 closed

[2018-02-12 13:44] #57 closed

[2018-02-12 15:14] wrathagom commented on #13
@dcalvom is this still an issue or did you fix it when you were working with the auto complete inside of the responses?

[2018-02-12 15:16] dcalvom commented on #13
We can close it now

[2018-02-12 15:16] #13 closed

[2018-02-13 06:49] malave opened #103 "Keep current agent between page reloads"
Because is annoying 😄

[2018-02-13 12:30] #90 closed

[2018-02-13 14:31] dcalvom opened #104 "Domain Intent Threshold is being updated every time"
If you click multiple times in the domain link in the nav side bar the intent threshold is being updated every time. This also happens if you click on the delete option.

![domain intent threshold bug](https://user-images.githubusercontent.com/7228045/36154803-313cf820-1098-11e8-9b0a-1c243faefccf.gif)

[2018-02-13 20:07] dcalvom commented on #12
Closed by

[2018-02-13 20:07] #12 closed

[2018-02-15 11:20] malave opened #105 "Remove Immutable-js"
We are currently not using the library correctly according to some of the best practices ([here](https://redux.js.org/docs/recipes/UsingImmutableJS.html#what-are-some-opinionated-best-practices-for-using-immutablejs-with-redux)).

 But also the fact that [Immutable-js](https://facebook.github.io/immutable-js/) creates new data structures makes instead of accessing the objects as usual with dot not

[2018-02-15 13:39] #103 closed

[2018-02-15 14:17] dcalvom commented on #104
Closed by https://github.com/samtecspg/articulate/commit/b62622f3460a1e545c97488ccdf38bde5aa6ebe1

[2018-02-15 14:17] #104 closed

[2018-02-20 03:12] wrathagom commented on #87
This was somewhat addressed by changing list to count.

[2018-02-20 03:12] #87 closed

[2018-02-20 08:46] malave opened #106 "Error editing and intents after another one was removed"
So I had `2` intents (ids `1` and `2`) and deleted `1`, now when I open the page to edit `2` I get this response from the API `An error occurred getting the data of the intent Intent1 with id 1` and this on the API console:
[code]

[2018-02-20 22:57] dcalvom opened #107 "Fix redis ouputs"
Given that redis is a flat db without types, everything is stored as an string.

So empty arrays ([ ]) will be ""
Booleans will be like "true" or "false"
And any number will be used as an string too. For example: "0.65" or "3"

The idea is to cast every object before returning the response to the user so this would help the developers avoid conflicts with types.

[2018-02-21 22:16] dcalvom commented on #107
Closed by https://github.com/samtecspg/articulate/commit/0517fa3563abf0ccfdb5f6aa18dc8f7d4d9689c3

[2018-02-21 22:16] #107 closed

[2018-02-22 10:38] #102 closed

[2018-02-23 07:08] #105 closed

[2018-03-02 21:33] wrathagom opened #108 "Slot Suggestions in Responses not working"

[2018-03-02 21:41] wrathagom commented on #108
On second thought I imagine we broke this when we moved to handlebars?

[2018-03-02 21:51] wrathagom opened #109 "Can't update Agent Responses or Prompts"
Trying to update these fields doesn't take, however updating the examples does?...

[2018-03-02 22:01] wrathagom opened #110 "Odd Error during Converse"
My guess is that this has to do with the fact that I have a domain with no intents:

[code]

[2018-03-05 02:28] wrathagom opened #111 "Create Domain button hidden by Nav Bar"
<img width="1576" alt="2018-03-04_21-27-46" src="https://user-images.githubusercontent.com/1779894/36954888-e9708984-1ff2-11e8-9696-37715151a5ca.png">

[2018-03-05 02:28] wrathagom commented on #111
Only happening for my in the "Wizard" steps

[2018-03-05 02:33] wrathagom commented on #111
Also on intent and entity part of wizard
<img width="1576" alt="2018-03-04_21-32-56" src="https://user-images.githubusercontent.com/1779894/36954996-a63fe23a-1ff3-11e8-853d-1222da1d8517.png">

[2018-03-05 02:55] wrathagom opened #112 "Add Domain to Intent List"
Show which domain each intent belongs to without having to select a specific domain from the dropdown.

[2018-03-05 02:58] wrathagom opened #113 "Error when trying to change entity color"
[code]

[2018-03-05 02:59] wrathagom opened #114 "Where used for intent - no rows found misaligned"
<img width="1135" alt="2018-03-04_21-59-16" src="https://user-images.githubusercontent.com/1779894/36955582-5415eb9a-1ff7-11e8-9528-f44bef2256a2.png">

[2018-03-05 03:02] wrathagom opened #115 "Include Default JSON/XML payload when it is selected."
See the original Basecamp post on this topic as I proposed a default payload there.

[2018-03-05 03:22] wrathagom opened #116 "Don't re-train when only the response or webhook have changed"
Right now when you edit an intent the model get's re-trained regardless of what was changed. This get's old really fast when you are just debugging the webhook.

[2018-03-05 03:25] wrathagom opened #117 "Error When trying to update webhook JSON"
[code]

[2018-03-05 03:32] wrathagom opened #118 "Intent List didn't refresh after Deleting an intent"

[2018-03-05 18:55] wrathagom opened #119 "Slots header alignment"
The alignment of the slots table headers is not right when the table
Is empty

[2018-03-06 00:17] dcalvom commented on #108
Yes and no. We need to start to make suggestions based on the elements we expect to have on the CSO, but probably, those are going to be a lot. I think this requires more design, what you think?

[2018-03-06 01:11] dcalvom commented on #109
By updating you mean, being able of edit the current value, or by edit you mean adding or deleting responses or prompts?

[2018-03-06 02:39] wrathagom opened #120 "isList and isRequired aren't working"
Selecting these has no impact on the scenario that get's created.

[2018-03-06 03:03] wrathagom commented on #120
Interestingly enough when I tried to updates these via the API the change still didn't stick so it may be an API problem?

[2018-03-06 03:23] dcalvom commented on #110
Yep it seem so. I was able to reproduce it. I will fix it soon.

[2018-03-06 03:33] dcalvom commented on #111
Got it. It's already fixed. I will push the changes soon.

[2018-03-06 03:52] wrathagom commented on #108
My guess is that there should already be a library for object based auto complete we'll just have to find it. Agree either way it requires more design. I am thinking about adding a star or indicator of some sorts to the user says examples that way you can denote which example you'd like to test with...

[2018-03-06 15:24] dcalvom commented on #120
@malave I solved this as it was needed for me for another bug. It was an error on the casting I did in the implementation of the webhook enhacement.

[2018-03-06 15:26] dcalvom commented on #120
Fixed by https://github.com/samtecspg/articulate/commit/32d4ae2febe25e1b2eed2e416d3e49c8bea36521

[2018-03-06 15:26] #120 closed

[2018-03-06 15:26] dcalvom commented on #110
Fixed by https://github.com/samtecspg/articulate/commit/adfd618e6133de7ca169e9c45c892bf73e1ff98c

[2018-03-06 15:26] #110 closed

[2018-03-06 15:29] dcalvom commented on #113
Closed by https://github.com/samtecspg/articulate/commit/04d6ab519772e168686eca00cfcc2c57833abb39

[2018-03-06 15:29] #113 closed

[2018-03-06 15:30] dcalvom commented on #111
Fixed by https://github.com/samtecspg/articulate/commit/6ec327120ff750019675db2287d5fcb4889acafc

[2018-03-06 15:30] #111 closed

[2018-03-06 22:17] wrathagom opened #121 "Parallelize Training"
Looks like right now we are calling each training process in sequence, Rasa has the ability to parallelize these so we should investigate launching all at once. Though I don't know how Rasa handles it when it doesn't have more training processes available so we'll need to look into that.

[2018-03-07 00:31] dcalvom opened #122 "Batch upload of entities"
If you want to add a new entity with a lot of examples it would be nice to have a batch upload option given.

[2018-03-07 00:54] dcalvom opened #123 "Scroll indicator get lost if the list of entities is to large"
![scroll entities](https://user-images.githubusercontent.com/7228045/37067494-b63130a4-216f-11e8-941e-564e18d69fd6.gif)

[2018-03-07 09:23] malave opened #124 "Intent List: Page goes into an infinite loop when the domain is changed"

[2018-03-07 09:33] #117 closed

[2018-03-07 09:33] #118 closed

[2018-03-07 14:39] wrathagom opened #125 "Chatting with a Non-Existent Bot Console Errors"
We should handle these, to repeat stand up a fresh instance of Articulate and chat before creating any agents/intents/etc

<img width="1576" alt="2018-03-07_09-38-46" src="https://user-images.githubusercontent.com/1779894/37098254-79c5c25c-21eb-11e8-905b-c4f382fa705d.png">

[2018-03-07 16:33] dcalvom opened #126 "Show label rather than value in Language attribute at agent detail page"
For example if the agent is an english agent the showed value is being `en` rather than `English`.

[2018-03-07 20:37] wrathagom opened #127 "Updating an Intent error about number of examples"
<img width="1576" alt="2018-03-07_15-36-03" src="https://user-images.githubusercontent.com/1779894/37116804-4b0f1968-221d-11e8-860f-2f4e4a14b23c.png">

 but not certain why as here is the request:

[code]

and here is the response

[code]

[2018-03-09 06:12] #124 closed

[2018-03-09 17:37] dcalvom opened #128 "Let user mark system entities in the UI"
You can use system entities in the intent response. For example:

This is the current time in New York: {{slots.sys.duckling_time.from}}

Nonetheless, the user is not seeing those slots in the slots table. It should be nice to let users highlight system entities in the examples and even rename those to keep a better control of the slots.

[2018-03-10 02:56] wrathagom commented on #128
@dcalvom this one is kind of related to #19 right? We were going to auto-highlight system entities.

There's actually several pieces to this, because if we auto-highlight we'll need a way for them to be able to un-highlight it. Or if we don't auto-highlight we'll need the ability to verify that what they have highlighted is actually a system entity.

Maybe what we should do is: When the user highl

[2018-03-10 02:57] wrathagom commented on #77
I'm moving the test button to a new issue and closing this one. Everything is functional.

[2018-03-10 02:57] #77 closed

[2018-03-10 02:57] wrathagom opened #129 "Add Test Capability for Webhook"
We should provide a "test" button. Ideally the test button would pull values from one of the training examples. if a training example isn't available that has all of the slots filled then we should prompt for all of the values necessary/possible.

[2018-03-10 03:00] wrathagom commented on #127
Confirmed fixed.

[2018-03-10 03:00] #127 closed

[2018-03-10 03:01] wrathagom commented on #121
@dcalvom did our discussion this morning about number of threads and number of training process mean that this is already setup in our API for parallelizing, but something's not right on the Rasa side?

[2018-03-10 03:02] wrathagom commented on #119
This is actually a responsiveness issue. So closing and asking @broham89 to keep this in mind for UI version 2.0

[2018-03-10 03:02] #119 closed

[2018-03-10 03:03] wrathagom commented on #116
Not sure when this got implemented, but it is now behaving in the requested manner.

[2018-03-10 03:03] #116 closed

[2018-03-10 03:04] wrathagom commented on #109
fixed

[2018-03-10 03:04] #109 closed

[2018-03-10 03:05] wrathagom commented on #108
Removed the bug tag. We just need to investigate how to do this. @dcalvom or @malave any clever ideas or is it just going to be a good chunk of code we need to write?

ideally it would auto-complete keys from the CSO, but also handlebars helpers like toJSON, #if, etc.

[2018-03-10 03:16] wrathagom commented on #106
I tried to re-create this on intents and entities, but it looks fixed to me.

[2018-03-10 03:16] #106 closed

[2018-03-10 03:27] wrathagom commented on #121
Looks like all of our training sequences use async.waterfall, which wouldn't try to parallelize. Do we need waterfall or can we async.parallel?

[2018-03-10 03:30] dcalvom commented on #121
Before the change of version of Rasa it was working as you said (paralleled) so it was async parallel. Now I'm using waterfall or series. Is just matter of change that.

[2018-03-10 03:31] wrathagom commented on #65
Can we fix this?
<img width="1904" alt="2018-03-09_22-30-41" src="https://user-images.githubusercontent.com/1779894/37237939-aae8e508-23e9-11e8-804c-5dff5f5380d3.png">

[2018-03-10 03:32] wrathagom commented on #65
Also, I still think the chat input should be in the corner not 300px above the bottom.

[2018-03-10 03:33] wrathagom opened #130 "Buttons on agent page are different from all the other buttons"
Is there a reason for this?

<img width="1904" alt="2018-03-09_22-33-05" src="https://user-images.githubusercontent.com/1779894/37237956-e83c061a-23e9-11e8-88f3-548990230868.png">

[2018-03-10 04:43] wrathagom opened #131 "Add Beta disclaimer and contact info"
@ewoo @BrightMeow you all can suggest edits to the copy. @broham89 can you suggest styling?

Should read something like:

---
Thanks for trying Articulate! We're excited that you've joined us in testing this software. I hope you enjoy using it as much as we do.

This is a pre-release of Articulate and is certain to have bugs or short comings. If you have any questions please [create an issue](http

[2018-03-19 03:25] wrathagom opened #132 "API/Swagger needs more Configuration Options"
Currently can't run swagger docs behind Nginx reverse proxy because I can't set the path correctly. We need to expose this as an environment variable.

Specifically the host, basePath, and schemes.
[code]

[2018-03-19 14:23] dcalvom commented on #132
Closed by https://github.com/samtecspg/articulate/commit/5dc9193ef0eb1704ee4cf426c2721c10e7c9d97d

[2018-03-19 14:23] #132 closed

[2018-03-22 23:05] ewoo commented on #131
Your draft copy works!

[2018-03-23 05:41] dcalvom commented on #131
There is any design available for this already?

[2018-03-23 05:44] dcalvom commented on #130
Well that was a @

[2018-03-23 05:46] dcalvom commented on #130
Well that was a @broham89 suggestion. Given that there doesn't exist an agent's list screen, the edit and delete are over there

[2018-03-23 17:28] broham89 commented on #130
I'm thinking the edit should exist when an agent, intent, or domain is already created and set. When the user wants to go back and open the agent, intent, or domain then edit would appear. Delete button should always appear any process. If it's the first time creating an agent, intent, or domain then only the Create button and Delete button should appear next to each other.

[2018-03-23 17:31] broham89 commented on #131
@dcalvom I will send you a html/css version of it.

[2018-03-23 20:38] broham89 commented on #131
@dcalvom Here are the places i've added the code for above issue.

- **Index.html line 38-41**
- scss/components/**_sidenav.scss line 80-105**

[nlu-styles.zip](https://github.com/samtecspg/articulate/files/1843413/nlu-styles.zip)

[2018-03-26 09:21] malave opened #133 "Duckling keeps returning old date data even if the text doesn't contain it anymore"
So I tried this text and duckling correctly interpreted the from/to dates:

`Flights from Miami to San Jose on May 22 to June 11`

and returns:

[code]

But if after that I send the text:

`Flights from Miami to San Jose`

it keeps returning the same time object until a change the text and add a new date

[2018-03-26 09:31] malave opened #134 "Possible error during parsing of textResponse"
On [/api/modules/agent/tools/respondFulfilledIntent.agent.tool.js#L10](https://github.com/samtecspg/articulate/blob/15df2979d97722cece08f3a72ab3e587571199c5/api/modules/agent/tools/respondFulfilledIntent.agent.tool.js#L10) we are merging the `CSO` with the `webhookResponse` using `_.merge()` this could cause a potential error if the `webhookResponse` contains a variable with the same name of an ex

[2018-03-26 17:13] wrathagom commented on #134
I think this is the intended response, I asked @dcalvom to log a warning in the console when this happens. We're going to move fairly soon to allowing the webhook to override the context and slot values and it would make sense that they just pass them back in their original names.

Also with the templating stuff if you know the API you are using has a conflict you can move the request to a new key

[2018-03-26 17:13] wrathagom commented on #134
@ewoo @dcalvom FYI

[2018-03-26 17:16] wrathagom commented on #130
@broham89 maybe in 2.0 we should make agent's consistent with domain and intents and have a list screen.

Either way I am fine with this one staying this way until we go to the new UI.

[2018-03-26 17:16] #130 closed

[2018-03-26 17:17] wrathagom commented on #131
@dcalvom think you'll have a chance to get to this one soon? I want this in the release before we package up for the announement.

[2018-03-26 18:45] #131 closed

[2018-03-26 19:13] wrathagom opened #135 "Domains without an agent"
Somehow I've managed to have domains showing the list of domains even though I don't have an agent selected.

@malave I know we're persisting some info to local storage, but maybe we need to back off what all we're storing there Maybe only store the current agent and the current page or something like that. I think this was a local storage problem, having deleted the agent from the API and then re

[2018-03-26 20:07] ewoo commented on #133
@wrathagom I agree. That's how it should behave by default. @malave to reset this, the caller is expected to pass in a new set of dates.

I could see two ways to improve this--for the future.
1. create a magic word to release this property in the context object (not sure how)
2. provide a property in the slots to persist it in the context object--or require Articulate to clarify saved context on e

[2018-03-27 05:46] malave commented on #134
@wrathago: yep, it makes sense if this is the expected behavior.

[2018-03-27 05:49] #134 closed

[2018-03-28 09:58] malave commented on #133
So I have a few scenarios in my hackaton project, a flight quotes bot, that the current duckling behavior doesn't work.

### Auto-fills the `to` value with `from` + 1 day
When I try to get quotes for different days to check better flight prices. I could ask something like:

Duckling will correctly get the `from` and `to` dates.
But if after that I want to ask something like:

( I do this because s

[2018-04-02 17:53] milutz opened #136 "Create 0.6.0 release"
From template: https://gist.github.com/milutz/d3a975201c31d0d760719d7e9f8bd122

Checklist for issuing the 0.6.0 version of articulate
- [x] Wait for Daniel to say master is ready for the 0.6 branch
- [x] Make branch, push on GitHub
[code]
- [x] Update main compose with the version of this release
[code]
- [x] Do a test build and run to make sure it doesn't immediately blow for some reason
[code]
-

[2018-04-02 18:10] dcalvom opened #137 "Remove duplicate values when training data is generated"
If an example uses two entities of the same type like in `"I want a pizza with ham and cheese"`, where `ham` and `cheese` are toppings, the entity combination generator creates a tuple `ham, ham` to replace the value in the example and generates the phrase `"I want a pizza with ham and ham".

We need to manage this in order to avoid it this error, and also think about scenarios where this behavior

[2018-04-03 08:30] malave opened #138 "On all list pages sorting fails due to object been immutable"
We are passing the immutable object to the Table Component and when this tries to do a sorting it tries to modify the original array. We could:

- Pass a copy of the array
- Create an action to sort the array in the global state

[2018-04-03 13:06] wrathagom opened #139 "Replace timezone dropdown with complete list and typeahead"
I just noticed (in my demo video) that we only have a few time zones in the list. Can we load in the full list, also since it's going to be long let's try to find a typeahead/suggest select input instead of just a dropdown.

[2018-04-03 13:13] wrathagom commented on #133
@malave how much of this do you think the user would encounter vs is testing related. Part of me thinks that truly distinct searches would be on different session ids and thus not get stuck within the same context. and that within a single session it's probably not a bad idea to assume that the suer is searching for the same dates.

[2018-04-04 00:57] dcalvom opened #140 "UI/UX improvement"
After the video presentation did by @wrathagom I think there is some room for improvement with:

- [x] ~Fix how the user enable the webhook for intents and agent, because right now the user needs to scroll up to enable it, and then scroll down~
- [x] The fact of use the 3 dots menu in the lists screen seems a little bit rough. That's somehow tackled in the domain and intent screen because when you

[2018-04-04 13:03] wrathagom opened #141 "Fast Forward to Rasa Latest"
We're currently building using Rasa 0.11.0, they are nearing a 0.12 release and have made some pretty large changes. Placeholder for that work.

[2018-04-04 13:04] wrathagom opened #142 "Fast Forward to Duckling Latest"
We're currently running the 0.1.0.0 release of duckling and 0.1.4.0 is out, but when I tested it the API error out. We need to find out what has changed and move to the newer duckling release.

[2018-04-04 13:08] wrathagom opened #143 "Fix Redis deprecation warning"
We're getting the following warning from Redis:

[code]

We need to address this.

[2018-04-04 13:19] wrathagom opened #144 "When navigating to a Create page the cursor should default to first input"
Every time I go to a create page I have to click the input box, even when there Is only one on the page (likee domains). We should put the cursor in the first input box on the create pages when we visit them.

[2018-04-04 13:20] wrathagom opened #145 "Double Clicking on the intent link in the side nav loads the spinning wheel?"
I don't know why but if I double click the intent link in the side nabber and intent screen doesn't show any intents and I get a spinning wheel.

[2018-04-04 14:11] wrathagom opened #146 "Remove port re-mappings in Docker"
This means we need to change the ports used by the actual services as necessary and stabilize on non-re-mapped ports. It is important for us to do this early so that our user base doesn't get confused starting Articulate, but also using subsequent releases.

[2018-04-04 14:31] milutz commented on #136
Release complete

[2018-04-04 14:31] #136 closed

[2018-04-05 13:29] malave commented on #133
@wrathagom If I'm testing different dates to see how prices change I would like to try an starting date and get recommendations on the return day. In this scenario I will get back the initial day +1 on the `to` field.

[2018-04-05 13:45] dcalvom opened #147 "Are you sure you want to leave message is always showing"
It didn't matter if you edit something or not the alert is always shown.

In the entity edit screen you are not being able to get back to the entities list.

[2018-04-06 00:50] wrathagom opened #148 "Add the Comparison Handlebar helpers"
@dcalvom for whatever reason I didn't realize that handlebars couldn't do conditionals out of the box can you install the `comparison` helpers from here: https://github.com/helpers/handlebars-helpers#comparison

@btotharye this would allow you to do your Mycroft stuff without needing an additional API for fulfillment.

[2018-04-06 04:58] vilav opened #149 "deploy to facebook?"
is there a way tp push the bot to Facebook Messenger with articulate?

[2018-04-06 15:28] wrathagom commented on #149
Hey @vilav none of us personally have experience with Facebook Messenger Bots, though my current understanding was that [no one could create one right now](https://medium.com/landbot-io/can-we-trust-facebook-for-our-future-chatbot-strategy-fe7aa92c86a3).

Though [it sounds like they use simple web hooks](https://medium.com/crowdbotics/how-to-create-your-very-own-facebook-messenger-bot-with-dialogf

[2018-04-06 15:28] #149 closed

[2018-04-06 21:17] dcalvom commented on #148
I added the comparison helper to Hanldebars.

Closed by https://github.com/samtecspg/articulate/commit/42d51df55a3e84d7cc2aac576e9cc1340c3a8b72

[2018-04-06 21:17] #148 closed

[2018-04-07 20:48] wrathagom commented on #140
Moving the top item to a new issue

[2018-04-07 20:55] wrathagom opened #151 "Managing Advanced Functionality on Intents"
So had a few thoughts:

- We're only going to add more and more advanced options
- Already have webhook, but wanting to add scripting. Not just one scripting panel, but two!
- Shouldn't need a toggle to tell us if the webhook is being used. Same for scripting. If there is a script we use it, if not we don't.

So @dcalvom along those thoughts I am thinking that the webhook should be keyed off of th

[2018-04-07 20:56] wrathagom commented on #128
@dcalvom I think this one is done right?

[2018-04-08 01:02] wrathagom commented on #11
Closing, we'll address on a case by case moving forward. Not to mention we need an interface for managing overall bot status, errors, warnings, etc.

[2018-04-08 01:02] #11 closed

[2018-04-08 01:03] wrathagom commented on #20
@malave does the API you created require an API key to use?

[2018-04-08 01:03] #29 closed

[2018-04-08 01:06] wrathagom commented on #66
I haven't encountered this since this day, I have a feeling it has to do with the move to spacy 2.0, but can't guarantee it.

@dcalvom do you have any intents that are highly unbalanced In Florence? Have you encountered a problem with this?

[2018-04-08 01:11] wrathagom commented on #65
Confirmed tha I wasn't seeing this behavior anymore.

[2018-04-08 01:11] #65 closed

[2018-04-08 01:32] dcalvom commented on #66
Yeah, indeed they are highly unbalanced. For example, I have the small talk domain with the greeting intent as the largest intent with 19 examples, on the other hand, I have the `Medical Tests` domain with the `Get Images` intent that haves 18300 examples. Also the `Get Patient Name` and `Get Vitals` intents sum 2449 distinct exampless in the `Bed Control` domain.

[2018-04-08 01:34] dcalvom commented on #128
At UI level it's done. We need to store the sys entities in the intent data as entities, but we need to make a small change in the API to ignore sys entities during training at the training data creation step.

[2018-04-08 01:35] wrathagom opened #152 "Add Scripting Options"
@malave pointed out a library [vm2](https://github.com/patriksimek/vm2) that allows sandboxed javascript. and suggested that we could implement it two places: pre webhook and post webhook. The goal of pre-webhook would be to format the CSO for webhook and post would be to format the data for responses.

Trying to limit the scope for the first pass:

### Pre-Webhook
This should be passed the CSO It

[2018-04-08 01:36] dcalvom commented on #115
Lost track of this one! I will work on this

[2018-04-08 01:37] wrathagom opened #153 "Close Testing Gap on API"
@dcalvom commented that as we've rushed to add functionality we've lost some test coverage on the API. We should try to catch that up.

We are making the conscious decision to not try UI testing until we implement UI 2.0

[2018-04-09 13:27] broham89 commented on #123
@dcalvom try using `overflow-y: hidden` or `overflow-y: auto`

[2018-04-09 13:48] dcalvom opened #154 "Slots lifespan"
If you have a slot that can be shared between intents that means that for the user whenever he executes the second intent the slot that he already filled it's going to be there.

We need to add something like a lifespan attribute to let a slot persist between frames (unit of a context).

[2018-04-09 20:28] dcalvom opened #155 "Increase hapi timeout on training endpoints"
The training endpoints are timing out. Large training set could cause long training that exceeds the 2 minutes default

[2018-04-09 20:30] dcalvom opened #156 "Implement better method for handling long training times in the UI"
The training process is being synchronous, that means the user has to wait for the training to be completed until follow to his next task.

The idea is to let the user go away from the screen, and if possible, let him start other training processes.

[2018-04-10 03:02] wrathagom commented on #146
Looks like someone removed the remapping of the UI port, but we should try. to remove the one for duckling too. This means changing the port that the API runs on. I am suggesting `6000` so that we can run Conveyor and Articulate at the same time with no overlap.

[2018-04-10 03:17] wrathagom opened #157 "Simplify Compose by Baking Defaults into the API/UI"
In Conveyor, I made a concentrated effort to remove all of the environment variables from the compose file. this just helps things look cleaner. We should do this for Articulate too.

Then the goal would be to provide a `.env` file with everything commented out and labeled. Then we can reference specific lines of the env file in the docs for different features.

@milutz all that make sense/sound g

[2018-04-10 14:06] wrathagom opened #158 "Label bubbles in chat panel"
@ewoo suggested adding the Agent name to the agent's responses and `You` to what you type in the chat panel.

@broham89 we need some HTML/CSS.

[2018-04-10 17:26] ewoo commented on #158
Here's a sample:
https://cl.ly/1T0q1X1Q2j1B

[2018-04-13 18:41] aroudik opened #159 "articulate v.0.6.0 slots information not populated"
After creating the entity and moving to the intent creation the slots information is not populated with information from the entity and the error "Please specify at least two examples for your intent definition" is diplayed.

[2018-04-13 18:49] wrathagom commented on #159
@aroudik did you highlight the entity in one of the user examples?

Check out this video that has a bit more in depth usage demo and let me know if that helps: https://youtu.be/kcBod37yJfI

[2018-04-13 20:03] aroudik commented on #159
OK. The video made everything clear. Thanks a lot

[2018-04-13 22:40] dcalvom commented on #115
@wrathagom I alreadya added
[code]
As the default payload for JSON payloads, could you tell me how the XML payload looks?

[2018-04-14 00:47] wrathagom opened #160 "Enable Math helpers for handlebars"
I'm specifically after `{{random}}`, but others will probably be helpful.

[2018-04-14 00:49] wrathagom commented on #159
Glad to help, we're still working on finishing out the docs. if you need anything else please feel free to ask here or on [Gitter](https://gitter.im/samtecspg/articulate).

[2018-04-14 01:16] dcalvom opened #161 "Explore handlebars helpers categories and import those who seems useful"
Currently, 189 helpers in 20 categories exist on the handlebars helpers repo.

It's necessary to explore them and decide which ones could seem useful for articulate. Right now math and comparison are already being used by us.

[2018-04-14 08:55] ajinkyapuar opened #162 "Login Interface"
Please add a login interface to the UI

[2018-04-14 13:35] milutz commented on #162
Hi ajinkyapuar,

We do have auth stuff on our (distant) road map, but for the moment the best solution is to use an authenticating proxy in front of Articulate.

Here is an example of how to do that from the Elasticsearch people (who have the same issue):  https://www.elastic.co/blog/playing-http-tricks-nginx (see the "Basic Authentication" section)

[2018-04-14 13:35] #162 closed

[2018-04-15 02:38] wrathagom commented on #160
Closed by https://github.com/samtecspg/articulate/commit/9efebe1db7f7e473be3c49681f777fe9c1c6831b

[2018-04-15 02:38] #160 closed

[2018-04-15 02:49] wrathagom commented on #152
- So it looks like we can pass the CSO in with the `sandbox` parameter.
- Would we want to [freeze it](https://github.com/patriksimek/vm2#read-only-objects-experimental)? forcing them to return a copy, I don't know.
- Obviously we need to be checking for [errors](https://github.com/patriksimek/vm2#error-handling).

I am going to put the UI design for this one on #151

[2018-04-15 02:55] wrathagom commented on #141
The biggest thing to watch out for will be the configuration changes they have made. Most all configuration is now done with yaml files. Specifically, you pass a new format to the `/train` endpoint that has the language and pipeline in it:

[code]

[2018-04-15 03:00] wrathagom commented on #141
I know they've made a bunch of changes to how you configure Rasa, but I pulled the `lateslt-spacy` version down today and it was plug and play with Articulate, so this may be an easy change.

[2018-04-16 11:07] wrathagom commented on #162
Related to #22

[2018-04-16 11:14] AbdurRub opened #163 "Allow re-ordering the slots"
Hi ,
This will be a great addition if we can arrange or make a dialogue like in which order system check slot.

[2018-04-16 13:24] milutz opened #164 "Create a 0.7.0 release"
From template: https://gist.github.com/milutz/d3a975201c31d0d760719d7e9f8bd122

Checklist for issuing the 0.7.0 version of articulate
- [x] Make branch, push on GitHub
[code]
- [x] Update main compose with the version of this release
[code]
- [x] Do a test build and run to make sure it doesn't immediately blow for some reason
[code]
- [x] Get the changes checked back in then tag to kick off a buil

[2018-04-16 20:45] wrathagom opened #165 "Don't Allow empty strings from agent response generation"
There are some instances where handlebars can find all of it's variables, but still not produce meaningful output. As such we should validate that the string returned from the handlebars compilation isn't empty.

[2018-04-16 21:00] dcalvom commented on #165
This was actually related to the scenario when the agent responses weren't fulfilled with the CSO (conversation state object) values. So we added a default response and we are now logging an error to the console.

Closed by https://github.com/samtecspg/articulate/commit/c53fff37bd88977ea35d3c021f667f5816362cf4

[2018-04-16 21:00] #165 closed

[2018-04-17 00:46] wrathagom commented on #161
Okay, let's go ahead and add in the below:

`'array', 'collection', 'comparison', 'inflection', 'math', 'misc', 'number', 'object', 'string', 'url'`

I didn't include `date` in the above, should we consolidate and use there date which includes moment? https://github.com/helpers/handlebars-helpers#date.

Also can you add to additional helpers for lists:
- andList: ['a', 'b', 'c'] -> 'a, b, and c'
-

[2018-04-17 01:45] dcalvom commented on #161
Closed by https://github.com/samtecspg/articulate/commit/5020a07659159f60d17f55eb92c739ea7b8a90ea

[2018-04-17 01:45] #161 closed

[2018-04-19 17:40] marcoaleixo opened #166 "Portuguese Spacy Model"
Please add portuguese as a supported idiom.
I actually use spacy pt model only with RASA and it is working very wel..

[2018-04-19 18:56] dcalvom commented on #166
Boa Tarde Marco,

We will work on that and will let you know when it is ready. We need to make some configurations on the Rasa Dockerfile and the UI.

[2018-04-19 22:02] marcoaleixo opened #167 "API Specific README is out of date"
Just a detail, this page is out of date: https://github.com/samtecspg/articulate/tree/master/api

[2018-04-19 22:24] #164 closed, assigned to milutz

[2018-04-19 23:00] dcalvom commented on #166
Closed by 78ffe059c0f0f972e07005a778ecefcff733f1ef

[2018-04-19 23:00] #166 closed

[2018-04-20 01:12] wrathagom commented on #167
@dcalvom we should simplify this page to where it's just how to run/dev mode the API. Not a super high priority, but we certainly need to keep it up to date. Or we could remove this and create an API section on our actual docs page... @milutz any input?

[2018-04-20 01:13] wrathagom commented on #163
slot's have start attributes? Sounds like entities?

[2018-04-20 08:27] Johnz86 opened #168 "ui subproject yarn install errors"
After cloning this repository, when I try to install the project in local environment, I get a lot of errors on ```yarn install```

[code]
Is there some guide, how to run the project just locally not using complete docker container?

[2018-04-20 11:26] wrathagom commented on #168
@dcalvom @milutz are these the same errors we get during the Docker build?

@Johnz86 does the UI fail to run?

At the moment we aren't targeting docker-less installs, simply because there are too many pieces that need orchestration. Are you after a local install because of the volume mapping problems you were having? We can likely eliminate the necessity of the volume mappings more easily than we

[2018-04-20 14:11] Johnz86 commented on #168
I am running on Windows 7 with docker toolbox. At start I tried to use normal ```docker-compose up```
and with proper ```.env``` config all containers started. The problems was that ui after launch was not able create any bots on Create button. There were no errors in the console log. When I looked in the network traffic, no requests to the api container were created.

@wrathagom After ```yarn ins

[2018-04-20 14:34] milutz commented on #168
@Johnz86 To-date all of the sub-components that make up Articulate are only (natively) tested on Debian/Ubuntu/Alpine Linux - With the newest forms of Docker, the docker images will run anywhere that Docker does (because Docker is managing a bubble of Alpine Linux for the components).

For natively running Articulate (which we don't currently recommend because we haven't had time to document/refin

[2018-04-20 15:31] Johnz86 commented on #168
@milutz I managed to run the articulate natively as described before. The only issue I encountered was with the webhooks. After investigation I found out that is because of proxy. After logging the error of the webhook I get this error
[code]
It is known [proxy issue for Axios](https://github.com/axios/axios/issues/925).
So even If I switch to other OS, when I am running behind corporate proxy it

[2018-04-20 16:06] milutz commented on #168
@Johnz86 Great to hear you got it running locally!

I'm a bit confused about your proxy comment - we use proxying in the code to make it so all the services funnel through the API sub-component (this is specifically to aid the docker design).

I'm unclear if your commenting on our proxy (which imagine could be a issue if the code is locally run) or if your saying you have a corp proxy - completely

[2018-04-20 19:31] Johnz86 commented on #168
@milutz I have a corporate proxy, that is completely unrelated with Articulate. It is between the outside world (global internet) and my locally running articulate setup. I have specific environment variables (http_proxy/https_proxy) with the proxy configuration.
Articulate uses Axios library in the file ``` articulate/api/modules/agent/tools/callWebhook.agent.tool.js```.
Whenever articulate user

[2018-04-20 19:38] wrathagom commented on #168
@Johnz86 glad you were able to get it all up and running. Sorry it took so much effort.

Did you end up using Wreck or something similar? Let us know if there is anything we can do for you or anything we can do to make the project better. We're trying to make everything easy.

[2018-04-21 01:07] wrathagom commented on #112
@dcalvom have you already done this or can I take it?

[2018-04-23 07:36] Johnz86 commented on #168
I used ```request-promise-native``` which we succesfully used in our previous project. It accepted proxy settings from environment variables without any setup needed. This is how the ```callWebhook.agent.tool.js``` file looks.
[code]

[2018-04-24 00:00] dcalvom opened #169 "Clean input values to avoid errors like trailing whitespace"
If the user leaves whitespaces at the beginning or at the end of values that could affect training data generation and the parse and converse endpoints. We should sanitize every value before sending it to the DB.

[2018-04-24 00:36] dcalvom opened #170 "Avoid duplicated highlights and duplicated examples in user sayings"
The user could highlight the same text or values inside a highlighted text. We need to know how we are going to manage that because currently, that is affecting the generation of the training data by causing entity overlapping.

[2018-04-24 02:12] marcoaleixo opened #171 "Intent Confusion Matrix to UI"
RASA provides that evaluation method.
It would be interesting if this option were available in the interface to better evaluate the performance of the training and which intentions are causing our model to be lost.

[2018-04-24 02:25] wrathagom commented on #171
@marcoaleixo I agree, we've got an analytics focused update in the works and this is part of what we hope to be in it.

When you use the evaluate end point do you use it against your training data, or do you have a separate test data set?

[2018-04-24 03:54] wrathagom commented on #115
ah found the issue, this isn't working if it got merged. Anyway in hindsight the above isn't the proper format given that we have to use the `toJSON` helper.

[2018-04-24 12:28] marcoaleixo commented on #171
In training dataset, I use to garantee I don't have similar intents, similar examples in different intents, for example.
I don't think I will use in separated test data set initially.

[2018-04-25 11:00] wrathagom commented on #22
https://github.com/jedireza/aqua for future reference

[2018-04-25 20:10] Oceania2018 opened #173 "Entities not showing the "Used In" screen"
Custom entity type doesn't show referenced intents correctly, in the "Used in the following intents".

![image](https://user-images.githubusercontent.com/1705364/39270136-bd069f70-489a-11e8-8ea5-177df5131c36.png)

[2018-04-25 20:12] #115 closed

[2018-04-25 20:12] #121 closed

[2018-04-25 20:12] #125 closed

[2018-04-25 20:12] #126 closed

[2018-04-25 20:12] #137 closed

[2018-04-25 20:12] #138 closed

[2018-04-25 20:12] #139 closed

[2018-04-25 20:12] #140 closed

[2018-04-25 20:12] #144 closed

[2018-04-25 20:12] #145 closed

[2018-04-25 20:12] #146 closed

[2018-04-25 20:12] #147 closed

[2018-04-25 20:18] dcalvom commented on #155
Closed by c39e63e962f2282d61daf6972205f331bedd3a2a

[2018-04-25 20:18] #155 closed

[2018-04-25 20:25] dcalvom commented on #123
@broham89 I tried both solutions you mentioned and even other workarounds but those weren't fruitful, do you think you can help me out here?

[2018-04-25 20:26] dcalvom commented on #143
@wrathagom whenever you identify a scenario where this happens please let me know as I wasn't able to reproduce it.

[2018-04-25 23:48] dcalvom opened #174 "Yes/No Answers"
We have an open debate about the confirmation responses like (yes/no).

Different ideas had come up:

- Use input and output contexts
- Try ML
- Tag responses as waiting for confirmation and keep that in the context

[2018-04-25 23:49] dcalvom commented on #174
On gitter @Ocenia2018 commented:

@dcalvom Rasa NLU also has this kind of problem. Rasa Core use LSTM to training conversation in end to end way. In my opinion, there are a easy way to figure out, use the context-in and context-out, narrow the results per context-in, for example, the two "Yes" intents might belong different context. What do you think about ?

[2018-04-26 00:05] Oceania2018 commented on #174
I'm using google Dialogflow a lot, use the context-in and out to control conversation flow works perfectly.

[2018-04-26 05:35] dcalvom commented on #174
This is a temporal workaround proposal by @wrathagom:

![image](https://user-images.githubusercontent.com/7228045/39287489-24921bc4-48e1-11e8-955b-fb65dd33ab78.png)

Given that a text promt of a required slot could make use of other slots values this workaround take advantanges of that. He created an entity called confirmation that represent yes/no answers and created an slot that is required in t

[2018-04-26 08:33] #143 closed

[2018-04-26 15:16] wrathagom commented on #173
The custom entities not showing was a known and part of this issue #128.

I am going to transform this issue to be more about the "used in" screen.

[2018-04-26 16:55] broham89 commented on #123
What is the css set for the main container height? I think take the height `px` of the header and **minus** the total height of the parent main container.

[2018-04-27 12:04] wrathagom opened #175 "Settings endpoint"
We need to create a `/config` endpoint for configuring defaults for the API and UI. Ideally the only environment variables that we would have would be the redis configuration options and the `API_URL` for the UI. With everything else being pulled from the config api endpoint.

Specifically we should have an API and UI for configuring the below (and probably more):

- The Rasa URL
- Default Rasa pi

[2018-04-27 12:07] wrathagom commented on #175
@broham89 we'll need to add a settings page to the current UI.

[2018-04-28 04:28] macasas opened #176 "Can't create an agent, please help."
I ran your installation. I get the webpage, the buttons take me to pages, but it does not create an agent, so cannot create anything else. This functionality does not need 8Gb, so what am I missing?

[2018-04-28 10:06] Johnz86 commented on #176
Most probable cause is that your webpage is not communicating with API docker container. You can check this, in browser dev tools and in network tab you will see that the page fails to load swagger.json file from the API container. You need to have properly configured ```.env``` file in your project root, before you start ```docker-compose up```.

[2018-04-28 11:48] wrathagom commented on #176
@macasas sorry that your default install isn't working for you, we're more than willing to help you get it running if you are willing to work with us.

What operating system are you running?
Did you download a release or pull from master?
Are there any errors in the docker-compose logs?
Are there any errors in the webpage console?
What webpage are you going to that is dead?

@Johnz86 running local

[2018-04-28 13:12] wrathagom opened #177 "Timezone list loads all examples when typeahead is empty"
I think this is unwanted behavior since it's such a long list. We should load only the top 10 matches also maybe require a search string length of 1 or 2 before searching... I think most type-aheads offer this type of functionality. @dcalvom let me know if those are options provided out of the box.

[2018-04-28 13:26] wrathagom opened #178 "Landing Page for when the UI can't communicate with the API"
### Issues

Right now even if the UI can't communicate with the API you still get taken to the welcome page and prompted to create an agent, when you do the wheel spins forever and there is a silent console error. This doesn't need to be on every page, but user coming directly to `http://localhost:3000` or whatever the root route is should be re-directed.

- [ ] Implement a landing page that the u

[2018-04-28 13:28] wrathagom opened #179 "Uncaught errors in UI"
On pretty much any create or list screen if the API is unavailable the page never shows an error.

To re-produce start Articulate normally and navigate to one of the create pages. Kill the API and then submit your edit/update. There is an error in the console, but none will show on the page.

[2018-04-28 13:28] wrathagom commented on #179
Targeting #176

[2018-04-28 13:30] wrathagom commented on #178
Targeting #176

[2018-04-28 15:04] Johnz86 commented on #176
@wrathagom  I noticed this behaviour first, when I tried local setup on my Windows 7 and docker-machine. The UI started and clicking on the create button did nothing. I noticed the errors in browser dev tools network tab. After some investigation I did setup a proper .env file and everything worked. Then I tried do similar stuff in AWS cloud VM. I allowed UI port for docker container and forgot to

[2018-04-28 15:38] macasas commented on #176
On 28 April 2018 at 13:48:31, Caleb M. Keller (notifications@github.com)
wrote:

@macasas <https://github.com/macasas> sorry that your default install isn't
working for you, we're more than willing to help you get it running if you
are willing to work with us.

What operating system are you running?

OSX 10.12

Did you download a release or pull from master?

Followed instructions on your github p

[2018-04-28 15:42] wrathagom commented on #176
@macasas Can you tell me what the output of `docker ps -a` is?

[2018-04-28 15:46] macasas commented on #176
daves-air:~ dave$ docker ps -a

CONTAINER ID        IMAGE                                 COMMAND
        CREATED             STATUS                    PORTS
              NAMES

b31f00b47e56        samtecspg/articulate-ui:repo-head     "yarn start"
        18 hours ago        Up 18 hours               0.0.0.0:3000->3000/tcp
            articulate-071_ui_1

7c1fc1506926        samtecspg/articulate

[2018-04-28 16:25] macasas commented on #176
And doing a search finds nothing for swagger.json or even swagger

I don’t know where this file is supposed to be,

all I can find is a swagger.yml file

On 28 April 2018 at 18:23:47, David MacDougall (davemacac@gmail.com) wrote:

Failed to load resource: net::ERR_EMPTY_RESPONSE
:8000/swagger.json

In Chrome I get the same message, and then noticed it is saying 8000, not
3000
Is that the issue?

O

[2018-04-28 16:35] wrathagom commented on #176
I had the documentation address wrong, can you access http://localhost:8000/documentation?

It's interesting that the error is just `Failed to load resource: net::ERR_EMPTY_RESPONSE
:8000/swagger.json` with no host before it. We're getting closer to the root problem.

[2018-04-28 17:00] wrathagom commented on #176
@macasas I know what the problem is. I am going to try and tip up instructions on how to unwind it. Give me a little bit to boil it down.

[2018-04-28 17:14] wrathagom commented on #176
@macasas there is a problem in the source code file that you downloaded. When we made the release, we didn't update it to point to the 0.7.1 tag. It instead points to master, but we're making port changes in master. That's where the problem is originating.

So first let's clean up the old install. From a terminal in the `articulate-0.7.1` folder enter the following:

[code]

Once that is finished

[2018-04-28 17:25] wrathagom opened #180 "Implement full 404 screen"
Right now if you try to go to a page that isn't there like http://localhost:3000/conversation you land on the below page. Let's implement a full 404 page with a link to back to the Articulate welcome page and a link to the docs.

@broham89 we'll need a design, HTML, CSS for this.

<img width="1648" alt="2018-04-28_13-24-51" src="https://user-images.githubusercontent.com/1779894/39399194-8e6cebca-4

[2018-04-28 19:16] macasas commented on #176
Okay thanks, I’ve done that and it is now allowing me to add an agent, a
domain and an intent.

Can you tell me, what and where has it installed 10Gb of stuff, because it
 has used up all my free space, the first installation used 8Gb, then
deleting and reinstalling has used up an additional 2Gb.  The articulate
folder is not even close to this, so where is everything?

On 28 April 2018 at 19:14:1

[2018-04-28 19:26] wrathagom commented on #176
We were curious where the 8Gb was coming from as the actual install is more like 2.5Gb, but if you're looking at the size on disk, then that is a Docker artifact as it reserves a chunk of space by creating a file to store its data in.

Here's the issue with Docker if you're interested: https://github.com/docker/for-mac/issues/371

If you're finished playing with Articulate and just want to get rid

[2018-04-29 09:51] macasas commented on #176
When I Reset, I gain back 16Gb of hard drive space.

When I restart Docker the qcow2 grows to 1.5Gb and then when I run docker
up again I lose a further 10Gb, from a user experience perspective, the
process is very poor because to run your page I have to re-download
everything via docker up, plus lose a load of disk space, so am I doing the
right thing, is there a different “docker start” to start

[2018-04-29 12:55] wrathagom commented on #176
@macasas several questions rolled into one there.

- Whenever you are finished testing locally you can `Ctrl+C` to stop the application running in the terminal. Once that is done you can type `docker-compose down`. That will stop everything, but not free up the disk space.
- The next time you run, so long as you have not reset the Docker data `docker-compose up` should not have to re-download anyt

[2018-04-29 12:58] macasas commented on #176
I’m new to Docker, and to be honest the cost far outweighs the benefits of
using your app.  Sorry, but I’ve switched it all off.

On 29 April 2018 at 14:55:13, Caleb M. Keller (notifications@github.com)
wrote:

@macasas <https://github.com/macasas> several questions rolled into one
there.

   - Whenever you are finished testing locally you can Ctrl+C to stop the
   application running in the termi

[2018-04-29 13:04] wrathagom commented on #176
No worries here, Docker is probably the single most useful tool that I've added to my developer toolkit in some years, but it comes with a few prices.

Let me know if you'd like for us to set up a cloud instance for you to experiment with. We'll leave it running almost indefinitely so long as it is getting some use as feedback is valuable at the stage we are in.

Otherwise, I will close the issue.

[2018-04-29 13:07] wrathagom opened #181 "Create 0.8.0 Release"
@milutz not certain the steps since I am uncertain if the 0.7 branch has all of the commits included in 0.7.1 since it was made from the master branch... there may be some investigation/cherry picking involved.

Alternatively master is pretty stable maybe we jump to 0.8?

[2018-04-29 13:08] macasas commented on #176
Yes, I would like to try your cloud instance, where should I go to do
that?  Then close this issue, thanks for your help.

On 29 April 2018 at 15:04:41, Caleb M. Keller (notifications@github.com)
wrote:

No worries here, Docker is probably the single most useful tool that I've
added to my developer toolkit in some years, but it comes with a few prices.

Let me know if you'd like for us to set up a

[2018-04-29 13:37] wrathagom opened #182 "Getting "webhookPayloadType" is not allowed when creating an intent"
To reproduce create an intent fill out the required fields then:

- Enable the webhook
- change the payload type to JSON
- change the payload type back to none
- Disable the webhook

Try to submit your intent and you should receive the error message.

[2018-04-29 13:42] karthikbalu opened #183 "Rasa Core Integration"
### Feature Request
Articulate seem to solve only half of the problem with Rasa NLU but why Rasa Core is neglected?

Without Rasa Core how can we build a conversational chat bot with just the NLU?

Please shed some light, i'm seeing many similar projects on github and everyone seem to avoid integrating Rasa Core

Is there a way to integrate this project with Rasa Core, without this Articulate may

[2018-04-29 13:56] wrathagom commented on #183
@karthikbalu we implement our own dialogue system instead of using Rasa Core. For three primary reasons:

- When we first started this project Core was not available
- Core is tough to boil down into a single API.
- Core can require a significant amount of training to learn basic dialogue.

All that said Core enables far more complex dialogue than Articulate will, but you have to be willing to spe

[2018-04-29 14:03] wrathagom opened #184 "Change header on intent page to read "Agent Intents""
Pretty self-explanatory, right now it doesn't match the domain and entities page.

[2018-04-30 10:04] #153 closed

[2018-04-30 10:11] #173 closed

[2018-04-30 14:02] dcalvom commented on #123
Closed by https://github.com/samtecspg/articulate/commit/381ff022efbeadd384ce75b17eb73ee946cf091c Thanks @broham89

[2018-04-30 14:02] #123 closed

[2018-04-30 14:36] wrathagom commented on #176
@macasas we don't have the self-service piece of this fully operational. I'll get your instance set up today or tomorrow and send you an e-mail.

Do you mind e-mailing me so that I have your e-mail address?

We'll do the rest via e-mail.

[2018-04-30 14:36] #176 closed

[2018-04-30 14:42] wrathagom opened #185 "Add more configuration options to the agent"
Ideally, the agent would be able to override global configuration options.

For example:

- Domain Classifier Pipeline
- Default domain pipeline
- Rasa URL
- Duckling URL

These items should be in an "advanced section" of the create agent screen.

[2018-04-30 14:46] wrathagom commented on #157
Also related to #175 as if we had a configuration endpoint we wouldn't need as many environment variabeles

[2018-04-30 14:48] wrathagom commented on #133
Would be addressed by #154 closing in favor of that issue.

[2018-04-30 14:48] #133 closed

[2018-04-30 14:51] wrathagom commented on #122
@dcalvom can this key off of the type it receives. If it receives an object it's a single value, if it receives an array it's a batch?

@ewoo what's the RESTful approach?

[2018-04-30 14:58] dcalvom commented on #122
So you would like to use the same endpoint `POST /entity` either to insert a single value or for a batch upload?

If so, that isn't an issue, we could handle that

[2018-04-30 15:39] wrathagom commented on #122
Yep unless @ewoo has an objection

[2018-04-30 20:27] dcalvom commented on #169
@wrathagom can we bump this up?

[2018-04-30 21:25] wrathagom opened #186 "Unload models when they are replaced"
The 0.12.2 added a `/delete` endpoint that unloads models from memory. We should use it when we train new models for domains or the domain classifier.

[2018-04-30 22:03] dcalvom commented on #22
just brainstorming https://github.com/andreasasprou/react-boilerplate-auth

[2018-05-01 17:54] wrathagom opened #187 "In list pages on menu flyover edit should be first option not delete"
I've almost deleted things too many times by clicking to open the menu and then getting the delete prompt

[2018-05-01 22:07] wrathagom commented on #181
From template: https://gist.github.com/milutz/d3a975201c31d0d760719d7e9f8bd122

Checklist for issuing the 0.8.0 version of articulate
- [ ] Make branch, push on GitHub
[code]
- [ ] Update main compose with the version of this release
[code]
- [ ] Do a test build and run to make sure it doesn't immediately blow for some reason
[code]
- [ ] Get the changes checked back in then tag to kick off a buil

[2018-05-03 04:07] #181 closed

[2018-05-04 01:35] wrathagom opened #188 "Getting misaligned training data warning when running tests"
[code]

and a bunch more like it.

[2018-05-04 02:13] wrathagom commented on #188
I found the source of this and will fix it.

[2018-05-04 02:33] #188 closed

[2018-05-04 02:34] #187 closed

[2018-05-04 17:13] dcalvom opened #189 "List pages just show 20 values"
Domain, Entity and Intent list all use the same table component. This table just shows 20 rows. We need either to paginate or increase the limit of rows to be shown.

[2018-05-04 21:11] dcalvom opened #190 "Scenario and webhook changes are not saved in the UI if the creation or update of an intent fails"
Given that scenario and webhook are separated from the intent object in the Redis scheme we designed, we created to endpoints inside intent, one for `scenario` and one for `webhook`.

At the UI when we create the intent we need to wait until a successful response to proceed with the creation of the scenario and the webhook.

We need to change this because changes are being lost if the intent fails

[2018-05-06 14:00] wrathagom commented on #190
This all changes if we detach training from the save/update buttons. So I think we do nothing at the moment and just wait for us to detach the two. Once that happens I think the likelihood of this goes away/greatly reduced.

[2018-05-06 14:02] wrathagom commented on #183
@karthikbalu or @beevelop have either of you tried our Dialog yet?

[2018-05-06 21:08] wrathagom opened #191 "Add Warning when retying Redis connection"
I screwed up the `.env` configuration and thought something was wrong with the API code because nothing was happening. It turns out it was going through the Redis retry loop.

We should add a message when we retry.

[code]

[2018-05-07 14:28] dcalvom opened #192 "Wildcard entity (Dialogflow sys.any functionality)"
### Feature Request

@BreadAndRoses95 mention on gitter he would like to be able to add a wildcard entity that would match any non-empty input.

Let's say you are looking for files and you don't know all the possible filenames so you would tag that text with this new entity and that will help you to recognize whatever input the user used.

[2018-05-07 15:55] dcalvom opened #193 "Slot filling Response Prompts with high confidence in wrong intent"
If RASA recognized an intent but the scenario is not fulfilled with all the required slots, a text prompt will be sent to the user.

If this required slot is present in more than one intent, and the user trained the model in a way that the entered text to fill the slot will be recognized by more than one intent then it could happen that the conversation will deviate to another intent instead of th

[2018-05-07 18:53] broham89 commented on #180
[nlu-styles.zip](https://github.com/samtecspg/articulate/files/1981073/nlu-styles.zip)
@dcalvom

New things added:

- **404.html**  line 58 - 68
- **_404.scss**
- **_primary-btn.scss** line 18 -26
- **img/404-img.svg**

[2018-05-07 18:57] broham89 commented on #180
[nlu-styles.zip](https://github.com/samtecspg/articulate/files/1981093/nlu-styles.zip)
@dcalvom

New things added:

- **404.html** line 58 - 68
- **_404.scss**
- **_primary-btn.scss** line 18 -26
- img/404-img.svg

[2018-05-07 19:05] broham89 commented on #178
@wrathagom Would this also be a 404 error page design?

[2018-05-07 19:08] dcalvom commented on #178
@broham89 it is a little bit different. Depending on the user configuration it could happen that something in their config is wrong and the the UI cannot access the API.

Then, the user will not be able to do anything in the UI.

[2018-05-07 21:09] broham89 commented on #178
<img width="619" alt="screen shot 2018-05-07 at 4 07 54 pm" src="https://user-images.githubusercontent.com/11262149/39725275-d58222ca-5210-11e8-8fc6-e8e92bbc6750.png">

Would you think design makes sense? @wrathagom

[2018-05-07 22:02] broham89 commented on #178
![missing-api](https://user-images.githubusercontent.com/11262149/39727464-65faafa0-5218-11e8-9455-3d929d59279c.jpg)

[2018-05-08 00:09] broham89 commented on #178
![missing-api](https://user-images.githubusercontent.com/11262149/39730945-24ff749c-522a-11e8-886f-2320652374d8.jpg)
@wrathagom would this graphic be appropriate for this issue?

[2018-05-08 00:59] broham89 commented on #180
[nlu-styles.zip](https://github.com/samtecspg/articulate/files/1981936/nlu-styles.zip)
New things added:

404.html line 58 - 68
_404.scss
_primary-btn.scss line 18 -26
img/404-img.svg

[2018-05-08 09:29] wrathagom opened #194 "Entities still showing when agent is deleted"
Don’t know if it’s the cache or we aren’t deleting them properly.

[2018-05-08 09:56] RicoLaaa commented on #194
i just created a test agent with domains, intents and entities:
- deleted it
- domains, itents and entities where still there.
- I switched to another agent, and everything looks fine

[2018-05-08 10:15] wrathagom commented on #194
I'm pretty certain that is a caching issue then. Likely the switch to a new agent loads in a new cache.

[2018-05-08 12:21] wrathagom opened #195 "andList doesn't handle single values"
Ideally the `andList` would handle single values as well as arrays.

[2018-05-08 16:33] dcalvom commented on #141
Closed by https://github.com/samtecspg/articulate/commit/bfdaad4254be120d32157181add107e8b0cd60c3

[2018-05-08 16:33] #141 closed

[2018-05-08 19:39] dcalvom commented on #128
Closed by
https://github.com/samtecspg/articulate/commit/4209fa2f539203c9de457cd42984aef43c18914fC

[2018-05-08 19:39] #128 closed

[2018-05-08 20:00] dcalvom commented on #177
Closed by https://github.com/samtecspg/articulate/commit/8e7fc79f6bee4900085aa4ff18f834eca6fe90c7

[2018-05-08 20:00] #177 closed

[2018-05-08 20:01] dcalvom commented on #178
@broham89 This isn't decided yet right?

[2018-05-08 20:04] broham89 commented on #178
@dcalvom

[2018-05-08 21:06] wrathagom commented on #178
It's not a re-direct, I think I like the top image better. Especially if accompanied with some fun text: `Error: agent head missing` along with serious text `We couldn't connect to the API, for configuration instruction go to here`

Maybe with Gitter link as well.

[2018-05-08 21:06] wrathagom commented on #158
@broham89 did you see this one too?

[2018-05-08 22:15] dcalvom opened #196 "Refactor settings endpoint to make it scalable"
If a setting just takes a single value we need to make it scalable in a way we don't need to format the output. In example, uiLanguage is a string. So, when you do a get /settings/uiLanguage you will have `en` as the response. Right now single value settings are being formatted to return an object.

Besides that, we need also to refactor the `settings` endpoint to be `settings/{name}` rather than

[2018-05-08 22:18] wrathagom commented on #196
@dcalvom maybe a way to get around the object issue is that we don't allow a `PUT /settings/{name}` but rather just a `PUT /settings` where the object can contain one or more keys. Then `GET /settings` returns an object with keys for each value, but `GET /settings/{name}` returns an object with just that single key?

[2018-05-08 23:16] dcalvom commented on #179
Closed by https://github.com/samtecspg/articulate/commit/3f7234ae3cdd468064a49935aad2c4250ad94d08

[2018-05-08 23:16] #179 closed

[2018-05-09 00:02] dcalvom commented on #182
Closed by https://github.com/samtecspg/articulate/commit/0b3e8ffaf44b9731195e0164fec58808bf286131

[2018-05-09 00:02] #182 closed

[2018-05-09 00:04] dcalvom commented on #184
Closed by https://github.com/samtecspg/articulate/commit/341990d6bc92332a1b017d19b45eb7a6e9580391

[2018-05-09 00:04] #184 closed

[2018-05-09 00:32] dcalvom commented on #180
Closed by https://github.com/samtecspg/articulate/commit/dbf2acc2c8f57eee9dc1e75602bee1919f6ce630

[2018-05-09 00:32] #180 closed

[2018-05-09 00:38] dcalvom commented on #122
Sorry, @wrathagom I got confused about this one. The title I added was batch upload of entities, but my comment was actually referring to batch upload of entity examples, but know that I read all the comments I think you want a batch upload of entities.

Could you tell which one are you thinking?

[2018-05-09 01:38] broham89 commented on #178
![artboard 1](https://user-images.githubusercontent.com/11262149/39791163-c22ac49e-52ff-11e8-9772-0a6b7631dc65.jpg)
updated look to be consistent with 404.svg

[2018-05-09 01:39] broham89 commented on #178
updated look to be consistent with 404.svg

![artboard 1](https://user-images.githubusercontent.com/11262149/39791200-f928678a-52ff-11e8-8eae-fa47a801fa30.jpg)

[2018-05-09 04:48] dcalvom commented on #186
Closed by https://github.com/samtecspg/articulate/commit/f71a463a7a86a6eaede198d0167a8cefe79116ef

[2018-05-09 04:48] #186 closed

[2018-05-09 04:55] dcalvom commented on #195
Closed by https://github.com/samtecspg/articulate/commit/4209fa2f539203c9de457cd42984aef43c18914f

[2018-05-09 04:55] #195 closed

[2018-05-09 06:39] dcalvom commented on #169
Closed by https://github.com/samtecspg/articulate/commit/a681e158b3e34d0799d3893999d1f630eaa425ce

[2018-05-09 06:39] #169 closed

[2018-05-09 07:41] wrathagom commented on #193
Part of me says that this goes back to needing a way to label certain training examples as an entity only. To keep the intent confidence low. So take the below example, the top several options are just there for recognizing the entities in response to the prompts.

<img width="1648" alt="2018-05-09_09-38-16" src="https://user-images.githubusercontent.com/1779894/39801824-b8e6e382-536c-11e8-80a3-65

[2018-05-09 07:50] wrathagom commented on #192
So the CRF should already be able to generalize, especially on filenames, I imagine it would work quite well as I would expect them to have slashes or dots in them, which make them fairly unique.

His use case of some sort of order number with `INC` at the beginning is a great use case for the regex patterns in #39

This is still related to #193 in a way that we would like a way to train the respo

[2018-05-09 07:52] wrathagom commented on #183
Let us know if you all have a review of how we handle Dialogue. Closing until then.

[2018-05-09 07:52] #183 closed

[2018-05-09 07:55] wrathagom commented on #175
So looks like this one is already underway, but leaving open until we get more items built into endpoints and the UI designed.

[2018-05-09 08:02] dcalvom commented on #2
UI Pagination in list screens has been implemented. Also the API pagination, the only part missing is connecting the API request to the UI pagination status

[2018-05-09 08:08] dcalvom commented on #114
Closed by https://github.com/samtecspg/articulate/commit/830c1e3b88f01775faa24498cfa36e6e6eb646d2

[2018-05-09 08:08] #114 closed

[2018-05-09 08:27] wrathagom commented on #122
yeah, I was thinking it was entities values/synonyms.

Where would you be uploading the entity examples to? Right now they are all attached to an intent correct?

[2018-05-09 09:00] wrathagom opened #197 "Clean up API not found code"
Looks like this commit has a lot of repeated code.

Should clean it up eventually: https://github.com/samtecspg/articulate/commit/3f7234ae3cdd468064a49935aad2c4250ad94d08

[2018-05-09 09:22] wrathagom opened #198 "Detach Training from Saving/Updating Intents and Entities"
This one is going to be pretty involved. The gist of it is that when the user creates a new intent, updates an intent, or updates entities that are used by an active agent we should not immediately re-train. Rather we should mark the screen someway that the intent has "Un-Trained changes". We should also add indicators to the domain list, intent list, and entity list pages for those domains/intent

[2018-05-09 09:28] wrathagom opened #199 "Implement Intent and Entity "lockfiles""
When an intent or entity is opened for editing we should create a lock on it maybe an `editing` flag set to true/false. This flag is then removed once the users navigate away or save their changes.

We should think of a basic way to force the removal of the lock as well. I am thinking on the intent/entity list pages we add an unlock item to the menu, with a warning message like `Only use if you ar

[2018-05-09 09:30] wrathagom commented on #199
Should we also implement a lock timeout? The lock automatically is removed after N minutes or N minutes of inactivity? Seems like that is hard to get right.

[2018-05-09 15:00] dcalvom commented on #142
Closed by https://github.com/samtecspg/articulate/commit/285562da828e3e5459eb97d38e36669aaa56c3d8

[2018-05-09 15:00] #142 closed

[2018-05-09 15:14] BreadAndRoses95 commented on #192
People may have to clearly validate the slot filling if the wildcard is used, but I do think that this is a great feature to propose (let say we want the user to describe the content of the ticket, making an entity that is ambigious enough to match any kind of description is complicated/impossible, so this wildcard would be nice). I asked for PR for the regex feature, let me know if it suits you o

[2018-05-09 15:44] broham89 commented on #178
@dcalvom here is the .svg
[missing-api.svg.zip](https://github.com/samtecspg/articulate/files/1988489/missing-api.svg.zip)

[2018-05-09 16:50] dcalvom commented on #178
Thanks @broham89

[2018-05-09 17:01] broham89 commented on #151
@wrathagom Would this design fit what you're saying
![6-intent-form](https://user-images.githubusercontent.com/11262149/39828461-b6b76604-5380-11e8-8ef8-3b8e62a11974.jpg)
?
![expand-webhook](https://user-images.githubusercontent.com/11262149/39828466-bb82bc4c-5380-11e8-8aaa-4c01544a96dd.jpg)

[2018-05-09 20:45] broham89 commented on #158
[nlu-styles.zip](https://github.com/samtecspg/articulate/files/1989403/nlu-styles.zip)
@dcalvom

I've added these:

- **index.html** line 71 - 90
- scss/components/**_chat-bubble.scss**

[2018-05-09 23:10] wrathagom commented on #151
Yep fine by me. This page is getting pretty heavy though isn't it :/

[2018-05-09 23:18] wrathagom commented on #199
@marcoaleixo anything to add to this? I see this as the first step in allowing multiple people to be working in the same agent. It is closely tied to #198 .

[2018-05-10 00:27] marcoaleixo commented on #199
@wrathagom I think that's exactly it.
Just to make sure I understood correctly, the page of intentions would show what intentions are already being edited to avoid that the trainer does not waste time opening an intention that already has someone editing.
Looking at my problem, I think a 5-minute timer is more than enough to ensure the entity has already been edited.

[2018-05-10 06:28] dcalvom commented on #178
Closed by https://github.com/samtecspg/articulate/commit/8724e0bce947d99ecccb5037f8027e18d1a41a54

[2018-05-10 06:28] #178 closed

[2018-05-10 06:51] dcalvom commented on #158
Closed by https://github.com/samtecspg/articulate/commit/dbfe745b5f4f70822af26ef50e870dbb3cc93740

[2018-05-10 06:51] #158 closed

[2018-05-10 19:28] dcalvom commented on #39
Closed by @BreadAndRoses95 with commit https://github.com/samtecspg/articulate/commit/ee3c14e1d5dafd2763749e03e8a40cc4ba94eb94

Thanks @BreadAndRoses95

[2018-05-10 19:28] #39 closed

[2018-05-10 22:25] broham89 commented on #163
<img width="1366" alt="slot-order-ex_1" src="https://user-images.githubusercontent.com/11262149/39897226-00952d5a-5477-11e8-8be0-7fe1c851a5e4.png">
<img width="1367" alt="slot-order-ex_2" src="https://user-images.githubusercontent.com/11262149/39897227-00a4b3f6-5477-11e8-9222-7b1ff9183c3e.png">

Here are two examples of slot ordering and I've also changed the design for slots if you would to consi

[2018-05-11 02:41] wrathagom opened #201 "Change Rasa Dockerfile to use Python 3.6"
The Rasa team is moving away from 2.7 support plus there are encoding improvements with 3.6

[2018-05-11 02:44] wrathagom opened #202 "Implement SED command to remove multi-training in single project restriction"
You can see the line of code that Daniel changed in this diff: https://github.com/RasaHQ/rasa_nlu/commit/9afb92db6dbbca436663e6e913dcc753aa97b1ed

[2018-05-11 06:52] dcalvom commented on #19
In order to avoid having all the entities loaded in memory at the create intent page I was thinking on having an endpoint for highlight, something like `intent/{id}/highlight?text='I want a pizza with ham and cheese`.

This would return something like:
[code]

So we could add those to the UI.

Of course as @wrathagom mention once it would be necessary to have a way to remove a highlight but I was

[2018-05-11 06:53] dcalvom commented on #10
We haven't solved the UI part of this one...

[2018-05-11 12:27] wrathagom commented on #19
Why wouldn't we use `/parse` for this?
Why is this off of the intent?

At one point in time we had discussed a manual matching of known entity values in the string, is that what `highlight` does?

I thought we were saying the solution to not loading them all into memory is to implement proper pagination.

[2018-05-11 13:49] dcalvom commented on #19
Why wouldn't we use /parse for this?
Why is this off of the intent?

**We don't use `/parse` because at this point in time model could not be updated with newer entities. What I was thinking was on helping the user to avoid doing a manual highlight every time he is going to create a new intent**

At one point in time we had discussed a manual matching of known entity values in the string, is that

[2018-05-11 14:43] wrathagom opened #203 "Add Agent/Domain parameters"
EDIT 11/2/2018 - Woo mentioned the need for Agent parameters. Should think about the level at which these should exist, maybe both?

I want to start working towards one-click install of pre-built domains. A lot of the APIs that these domains will consume will require some sort of an API key or custom parameters. I want to add a domain parameters section to the create/edit domain page. This will al

[2018-05-11 15:14] dcalvom commented on #203
Cool @wrathagom! Seems to be promising.

How domain parameters are going to be added? Is the table editable?

[2018-05-11 15:18] wrathagom commented on #203
can be, probably needs an "add" button someplace. If it's easier for you I am fine with a pop up modal or some such for adding them.

[2018-05-11 15:19] wrathagom commented on #203
@broham89 you want in on the design of this one? Or he can just re-use the current table component.

[2018-05-11 15:20] dcalvom commented on #203
The component we are using could work

https://react-table.js.org/#/story/editable-table

Is just matter to adapt the style of the table

[2018-05-11 16:05] wrathagom commented on #78
@dcalvom I think we could try to tackle this one too in this release.

[2018-05-11 16:36] dcalvom commented on #78
@wrathagom the most immediate solution, without UI changes would be this one, what you think?

![image](https://user-images.githubusercontent.com/7228045/39935413-2b913168-5506-11e8-97ef-cd4432bb4deb.png)

The other options are the ones you are proposing, one is the comma separated value:

![image](https://user-images.githubusercontent.com/7228045/39935544-9fc411fe-5506-11e8-9a9e-fb218426e14f.png)

[2018-05-11 16:39] wrathagom commented on #78
I think the first one is too confusing, how would you choose which prompts to use or which list/required.

If we wanted to go all out we would do the chips and show the entity selection pop-over to add them...

[2018-05-11 16:46] dcalvom commented on #78
Sure! @broham89 would you mind taking a look here? I don't know what we can do to give more space to the chips in the entity column

[2018-05-11 17:06] wrathagom commented on #196
We also shouldn't pollute the Redis space by doing `settings:intentClassifierPipeline` for every setting.

Rather we should use `settings` as the hash and `intentClassifierPipeline` as the key with the value set to a stringified JSON of the pipeline.

[2018-05-14 08:42] Johnz86 opened #204 "Getting time from duckling webhook"
One of the most [common questions](https://blogs.msdn.microsoft.com/benjaminperkins/2016/11/21/most-common-chatbot-questions-and-how-to-answer-them/) towards chatbots is "What is the time?".
Is there a possibility to create a webhook towards the duckling and parse the response?
Currently there is duckling container available.  The problem is you can only define json/xml payload.
Duckling requires

[2018-05-14 12:28] wrathagom commented on #204
Hey @Johnz86 what version are you running, we've made some handlebar additions in the latest versions so I don't want to suggest something that isn't available in your version. in 0.7.1 we added a bunch of [Handlebar helpers](https://github.com/helpers/handlebars-helpers).

I think you have at least a couple of options:
- Use [JSONparse](https://github.com/helpers/handlebars-helpers#jsonparse) to

[2018-05-14 13:50] Johnz86 commented on #204
@wrathagom Thank you for your response. Based on your reply I made a terrible mistake, I pulled the latest images available in docker hub and my entire stack stopped working :(

Setups is done in aws linux vm.
[code]
Steps that I did in articulate folder:
[code]
This downloaded latest images

Tag Name | Compressed Size | Last Updated
--- | --- | ---
repo-head | 809 MB |  2 days ago

After the star

[2018-05-14 15:08] wrathagom commented on #202
This is now more than a single SED as @dcalvom has modified the Rasa code a little bit more. So for the moment, we have to run his fork.

Closing as we wait on the PR from Rasa.

[2018-05-14 15:08] #202 closed

[2018-05-14 15:19] Johnz86 commented on #204
@wrathagom I rolled back to version 0.8.0 that works. Now with your proposed solution the problem is, that I am unable to specify the webhook type. If I pick json or fill text I will allways get an error:
[code]

[2018-05-14 15:39] Johnz86 commented on #204
![2018-05-14 17_37_49-create intent](https://user-images.githubusercontent.com/2708520/40007656-ac274eae-579d-11e8-9365-6f77353e4181.png)

[2018-05-14 15:44] wrathagom commented on #204
So multiple responses here: on 0.8.0 I don't have any problem specifying a webhook and the webook does work for me. In the image you have posted above, for me, returns `quack!`. If your webhook still isn't working then there is a good chance something that Docker didn't get brought down/up'd as you expected. When going back and forth between versions we've seen problems with the correct container'

[2018-05-14 19:19] dcalvom commented on #204
Hi @Johnz86 we just pushed a fix on our master repo. So, now if you want to use duckling as a webhook for you intent response you can do the following:

Define your intent and enable the webhook for this intent:

![image](https://user-images.githubusercontent.com/7228045/40018037-57f838e0-5778-11e8-8592-1bd930882938.png)

In the webhook definition, set POST to the verb, enter your duckling url, in

[2018-05-14 19:19] #204 closed

[2018-05-15 00:54] broham89 commented on #203
<img width="1367" alt="domain parameter - step 1" src="https://user-images.githubusercontent.com/11262149/40030517-aac50c64-57b0-11e8-9dfe-ddec430509f1.png">
<img width="1367" alt="domain parameter - step 2" src="https://user-images.githubusercontent.com/11262149/40030518-aad66748-57b0-11e8-9ee9-8d62013a5b9e.png">
<img width="1367" alt="domain parameter - step 3" src="https://user-images.githubuse

[2018-05-15 00:55] broham89 commented on #203
<img width="1367" alt="domain parameter - alternative" src="https://user-images.githubusercontent.com/11262149/40030536-c2a57166-57b0-11e8-96e5-c4cda9127088.png">
<img width="1367" alt="domain parameter - error" src="https://user-images.githubusercontent.com/11262149/40030537-c2d41642-57b0-11e8-857c-dfaeacee1bcf.png">

[2018-05-15 01:03] broham89 commented on #203
<img width="1367" alt="domain parameter - step 1" src="https://user-images.githubusercontent.com/11262149/40030719-d11bf0de-57b1-11e8-86c3-3dbb115096a3.png">
<img width="1367" alt="domain parameter - step 2" src="https://user-images.githubusercontent.com/11262149/40030720-d12d48d4-57b1-11e8-9868-8943925b9d4a.png">
<img width="1367" alt="domain parameter - step 3" src="https://user-images.githubuse

[2018-05-15 01:03] broham89 commented on #203
<img width="1367" alt="domain parameter - alternative" src="https://user-images.githubusercontent.com/11262149/40030734-df33dde4-57b1-11e8-8ab5-8cf2d9847681.png">
<img width="1367" alt="domain parameter - error" src="https://user-images.githubusercontent.com/11262149/40030735-df538ea0-57b1-11e8-899e-40e04a816ae6.png">

[2018-05-15 01:11] wrathagom commented on #203
@broham89 I don't follow the flow. I do think I like the usage of a form over editing a table just for simplicity. But how do the above work:

1. The user clicks `Add`
2. A form shows up below that
3. Once they click submit it changes to a table?

How do they add more and what does that look like? How do they edit/delete ones that already exist?

[2018-05-15 01:14] broham89 commented on #203
@wrathagom yes once the user creates their first parameter a table showing their input is present.
And when a User wants to create/add more the add button is still present next to the `Domain Parameter` title

[2018-05-15 01:17] wrathagom commented on #203
So then the table get's pushed down and the form re-appears?

I think we'll likely support 4 types at the beginning: String, Number, Password, and JSON. Where the JSON one has a code block for input/editing. If that impacts the designs.

[2018-05-15 01:48] wrathagom commented on #192
@BreadAndRoses95 okay, so the example that I have in my head is a customer trying to open a support ticket.

**Customer:**
I'd like to report an issue. <- get's recognized as createTicket intent and slot filling begins.
**Bot:**
I can help you with that, can you please describe your issue? <- prompt from wildcard slot
**Customer:**
Well two days ago my computer started smoking a little bit, but it

[2018-05-15 01:57] broham89 commented on #203
<img width="1367" alt="domain parameter - json" src="https://user-images.githubusercontent.com/11262149/40032336-596e2996-57b9-11e8-9a44-4a2283e13e1b.png">

[2018-05-15 01:59] broham89 commented on #203
<img width="1367" alt="domain parameter - json" src="https://user-images.githubusercontent.com/11262149/40032405-9ff8c0ba-57b9-11e8-9eab-d737ca98b741.png">

[2018-05-15 02:16] broham89 commented on #203
<img width="1367" alt="artboard 26" src="https://user-images.githubusercontent.com/11262149/40032989-100e08ae-57bc-11e8-992b-d9b4d56378fe.png">

[2018-05-15 02:19] wrathagom commented on #203
The tooltip type warning is a departure in style from the modal type abandon/stay messages we already have. I'm sure @dcalvom can do it but may be best if we keep that in store for v2 and stick with the modal approach for now?

[2018-05-15 02:46] dcalvom commented on #53
I pushed 4 days ago a basic `doc` endpoint to find a document by id. I think we had in the past some other methods, but at least this is the first advance on recreating the `doc` endpoint.

The commit was https://github.com/samtecspg/articulate/commit/10c8685643f5e52f6efa983aba4521a41a99ebdd

[2018-05-15 21:12] milutz opened #205 "Create 0.9.X release"
From template: https://gist.github.com/milutz/d3a975201c31d0d760719d7e9f8bd122

- [X] ~~Complete issues marked for this release: @dcalvom @wrathagom mark when we are good on issue #167~~ (issue moved to a future release)
- [X] ~~Cherry-pick the commit that resolves above~~ (same as above)
- [x] Update main compose with the version of this release
[code]
- [x] Do a test build and run to make sure i

[2018-05-15 21:51] dcalvom commented on #167
Well, this issue started because a user was trying to run the API locally. The thing is that the API in the past was in their own repo and used ES for data storage. So, I think the main goal of this issue is to modify the `Readme.md` file inside the API folder to let users run the API locally, and let them know a little bit of architecture.

[2018-05-16 02:25] wrathagom commented on #156
Closing in favor of #198

[2018-05-16 03:55] broham89 commented on #175
<img width="1367" alt="settings page" src="https://user-images.githubusercontent.com/11262149/40095665-d86f31e8-5892-11e8-8790-c817bce3485a.png">
Note: Default Agent fallback responses would need some advice what would be required there?

[2018-05-16 04:08] broham89 commented on #175
<img width="1367" alt="artboard 27" src="https://user-images.githubusercontent.com/11262149/40096093-dcbd11fa-5894-11e8-8bfe-53ff000a0dec.png">

[2018-05-16 04:09] broham89 commented on #175
<img width="1367" alt="artboard 27" src="https://user-images.githubusercontent.com/11262149/40096126-13e127d4-5895-11e8-8309-e174b59848d6.png">

[2018-05-16 04:37] broham89 commented on #78
<img width="1366" alt="slot-order-ex_1" src="https://user-images.githubusercontent.com/11262149/40096911-cdcb9050-5898-11e8-9848-050b16de0002.png">
Would this make sense?

[2018-05-16 04:52] broham89 commented on #78
<img width="1540" alt="slot-order-ex_1" src="https://user-images.githubusercontent.com/11262149/40097310-0ef13808-589b-11e8-8e44-1e7a915cada4.png">

[2018-05-16 12:01] Johnz86 opened #206 "Training with rasa sometimes fails."
### Issues
On longer running articulate stack, creation of intent fails on rasa training.
By longer running stack I mean horizont of 2 days : - )

### Environment
Articulate version:  0.8
RasaNLU: 0.11.4

Docker Setups is done in aws linux vm.
[code]
Errors in logs:
[code]
or:
[code]
After the creation fails, I need to reload the intent in UI, modify it and then I can update the intent.
Problems i

[2018-05-16 12:20] wrathagom commented on #206
How long is longer running? Any idea how many training/testing cycles you had gone through?
in 0.8 old models never get removed from memory (Rasa just recently exposed the functionality to do this). So in 0.9 we updated to Rasa 0.12.3 and we do now unload old models from memory. Maybe once @milutz get's 0.9 released #205  that will be the easiest fix.

We have other things going on for longer runn

[2018-05-16 12:30] ewoo commented on #198
@wrathagom, yeah I like your intermediate proposal. I like the statuses too. Just a minor tweak suggestion in terms of location. I would propose that we move the status closer to the dialog input panel since the users mouse and focus tends to gravitate towards the lower right side when they're testing. We could also make the input deactivated as well while it's training.

![train-button](https://u

[2018-05-16 12:45] Johnz86 commented on #206
According the ```docker ps -a```, the stack was running like 48 hours. And rasa was consuming around 70% percent of memory (3GB).
I tried to restart the rasa container, but that did not much help. The consumption of memory went up to the same numbers, after just two trainings. The intent training started to fail again.
I consider this as a solution that is not suitable for longer running setups.
M

[2018-05-16 13:10] ewoo opened #207 "Articulate Needs Favicon"
Articulate needs a favicon. Also needs to rename the title to say "Articulate" instead of NLU.

![articulate-favicon](https://user-images.githubusercontent.com/278197/40118804-f0661144-58e8-11e8-8f12-dc20ba89e36f.jpg)

[2018-05-16 13:44] wrathagom commented on #198
So challenging my original positioning as well:

I'm not certain we want users to naturally gravitate towards clicking a button that can completely change how their agent behaves? We also would have this in the opposite corner of where they select the agent? which may be less than desirable? We also don't have a navbar on the bottom, so if it was in the bottom right-hand corner it would look like

[2018-05-16 15:01] ewoo opened #208 "Loading an Agent not configured for Webhook Throws a Quiet Error"
**Steps to Repro**
1. Create two agents without webhooks
2. Open Developer Console on browser
3. Select a agent from the agent dropdown menu (see image)
4. Note the error thrown in console

![no-webhook-agent](https://user-images.githubusercontent.com/278197/40125242-75048714-58f8-11e8-8a2a-60a18a1b057e.jpg)

[2018-05-16 15:06] ewoo opened #209 "Jumping to Intents Using Navbar Must Keep User in Last Selected Domain"
When jumping from Agent or Domain editing views to Intents view--by clicking on the main left nav bar--user must be in the context of the last domain selected for that agent. It is convenient to have to re-select the domain again to see add or work on an existing intent.

![nav-to-intents](https://user-images.githubusercontent.com/278197/40125558-385d1ff0-58f9-11e8-8ec6-6a225014be91.jpg)

[2018-05-16 15:18] ewoo opened #210 "Intent Threshold Control Label Needs Explanation"
We should add the following text description below the label "Intent Recognition Threshold"--that describes what the value is and how it might affect the agent's behavior in determining which domain to select as a result by providing a simple example.

Something like this:
`The intent threshold is a value that determines how confident your agent has to be that a user's request matches an intent un

[2018-05-16 19:31] broham89 commented on #207
[favicon.zip](https://github.com/samtecspg/articulate/files/2010558/favicon.zip)
Inside located two types of favicon files `.ico` and 3 different sized `.png` Test and see which img works the best.

Link below shows how it should be structured inside the **head** document.

`<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">`

[2018-05-16 21:16] broham89 commented on #78
<img width="1540" alt="slot-ex_entity-change" src="https://user-images.githubusercontent.com/11262149/40144493-7cb7dd0e-5924-11e8-94d7-c8a36c10252d.png">

[2018-05-16 23:03] broham89 commented on #198
<img width="1367" alt="artboard 28" src="https://user-images.githubusercontent.com/11262149/40148394-5d3868a4-5933-11e8-912b-0adadb5c2d7f.png">

[2018-05-16 23:07] broham89 commented on #198
@wrathagom @ewoo would it make sense to position it in the navbar?

[2018-05-16 23:42] broham89 commented on #78
I personally believe v.2 works the best.

[2018-05-17 01:27] dcalvom commented on #2
Closed by https://github.com/samtecspg/articulate/commit/708543154d76f1bd924ac6fb4a2054642c426475

[2018-05-17 01:27] #2 closed

[2018-05-17 01:36] wrathagom commented on #210
There now exists a tooltip for these. That being said given the above screenshot I think some CSS changes are needed. https://github.com/samtecspg/articulate/commit/7692bfa5fd8fb8bef40146fbcd583fadfd14d250

[2018-05-17 02:28] broham89 commented on #210
Yah definitely does seem too much.. possibly have the bg '#4e4e4e'

[2018-05-17 02:40] wrathagom commented on #210
@broham89

<img width="665" alt="2018-05-16_22-40-44" src="https://user-images.githubusercontent.com/1779894/40153972-2f923a16-595a-11e8-86df-a815e5f0a110.png">

[2018-05-17 03:36] broham89 commented on #210
Yah you're right it looks heavy with text

[2018-05-17 03:51] dcalvom commented on #163
@broham89 Abe we are going to use the click and drag method. Could you share me the css for the current UI style.

[2018-05-17 13:04] ewoo opened #211 "Dialog Input Needs Up-Arrow Support"
When typing in dialog to test an agent, it would be super-nice if we could type an up-arrow (just like in Console or Terminal) and repeat the last phrase uttered. Since would make life so much easier!

[2018-05-17 13:35] dcalvom commented on #156
Is this one closed?

[2018-05-17 13:36] #156 closed

[2018-05-17 14:00] wrathagom opened #212 "Add help text to create intent page"
We need more of an indicator for users that they need to input multiple examples to the user says and agent responses. Something like the below:

@broham89 should we also add an `Add` button in case people want to click rather than press enter?

<img width="1077" alt="2018-05-17_09-56-08" src="https://user-images.githubusercontent.com/1779894/40182278-093ff060-59b9-11e8-826b-a8584df7cae2.png">

[2018-05-17 19:39] dcalvom opened #213 "Make conversation panel full height"

[2018-05-17 20:07] broham89 commented on #213
[nlu-styles.zip](https://github.com/samtecspg/articulate/files/2014512/nlu-styles.zip)

1. In **index.html** file, add class="top-header" to => `<header class="valign-wrapper">` and then move it inside `<section class="content-area">`

2. In **_header.scss** file, remove `~~main > header~~` and replace it with `.top-header` and inside `.top-header` add in `margin-bottom:40px;`

3. In **_base.scss*

[2018-05-17 20:11] broham89 commented on #212
Could you give me the height of the input? I wanna create an enter icon for it

[2018-05-17 20:16] dcalvom commented on #212
45px @broham89

[2018-05-17 20:29] broham89 commented on #212
<img width="922" alt="screen shot 2018-05-17 at 3 28 18 pm" src="https://user-images.githubusercontent.com/11262149/40202237-f8107700-59e6-11e8-98e1-4257b210e07c.png">
<img width="618" alt="screen shot 2018-05-17 at 3 27 59 pm" src="https://user-images.githubusercontent.com/11262149/40202241-fc1d2a96-59e6-11e8-83ae-ec947622772f.png">

I believe the plus icon is enough to signify to the user to cli

[2018-05-17 21:31] broham89 commented on #163
![artboard 3](https://user-images.githubusercontent.com/11262149/40204854-97ba0714-59ef-11e8-83e6-cea223fa592e.jpg)
@dcalvom if you need some other css style info message me.

[2018-05-17 21:31] broham89 commented on #163
[icon-organize.zip](https://github.com/samtecspg/articulate/files/2014805/icon-organize.zip)

[2018-05-18 00:48] ewoo commented on #212
@broham89 how about "Type sample dialogue and hit Enter."

[2018-05-18 00:49] ewoo commented on #207
@broham89 favicon looks perfect!

[2018-05-18 01:40] wrathagom commented on #213
@broham89 have any interest in trying to tackle this one yourself first? @dcalvom and I can guide as needed.

[2018-05-18 01:41] wrathagom commented on #210
Closed with f742c3c852e87e550d3979f46fcdc0b1092a6d42

[2018-05-18 01:41] #210 closed

[2018-05-18 01:41] wrathagom commented on #207
@broham89 and this one for that matter? Want to try and tackle it yourself?

[2018-05-18 01:51] dcalvom opened #214 "Weird corner case on building training data"
So an user contact us because his agent wasn't been training.

The scenario is something like this:

He had an example when an entity was tagged twice in different places:

`Some text entity some text entity`. So entity are the same in this text

In the entity definition there where only two synonyms, therefore, the combination built for that entity synonyms was just one:

`[[ { entityValue: entit

[2018-05-18 01:56] dcalvom opened #215 "More entity colors"
We are assigning a new color to every entity we create. Currently we are using material UI colors as you can see in this image:

![image](https://user-images.githubusercontent.com/7228045/40212179-ecd7682e-5a0b-11e8-8de5-0c88fd6d645b.png)

Currently we are using the CirclePicker of this component:

https://casesandberg.github.io/react-color/

@broham89 I'm pretty sure we can expand the colors of t

[2018-05-18 01:57] dcalvom commented on #215
Also, system entities use this color, it should be nice if those system entities could have a different color. Currently, they are sharing colors

[2018-05-18 02:20] milutz commented on #205
Gang found bug, cherry-picking in 884d1ef4273061fa78b7c876f4ae8637da53464d

New tasks:

- [ ] Update main compose with the version of this release
[code]
- [ ] Get the changes checked back in then tag to kick off a build
[code]
- [x] build the docker-compose zip file
[code]
- [ ] (after docker cloud is done with the build) unzip the zip - do a `compose up` and test
[code]
- [ ] Make a new release

[2018-05-18 08:26] Johnz86 commented on #206
I pulled today version 0.9.1 from docker hub. I have still errors like:
[code]
And the UI behaves in a strange way. When I switch between intents, sometimes I have content from previously opened intent displayed.

[2018-05-18 10:59] wrathagom commented on #206
I haven't tested 0.9.1 yet, Are you re-training your model? Or is this a model you had trained previously you are trying to reload?

[2018-05-18 15:13] wrathagom commented on #206
@Johnz86 did you train it on your Fedora machine? Or did you train it on a Mac and then upload to your VM?

I may be wrong, but I am curious if this isn't some sort of a pickling/architecture problem. I have no problems running your zip file.

But the models Rasa NLU generated aren't generally speaking transferable. There are a lot of things from architectures to python versions that can cause the

[2018-05-18 20:05] dcalvom opened #216 "Validate new user examples to avoid misaligned data"
If you have a large training set but you have examples wrongly tagged you will get a warning until rasa start to train with the `crf_entity_extractor`.

A warning will look something like these:

[code]

On rasa the validation is performed at:

[code]

One option to validate new user examples is exposing a validate method from rasa that executes the validation on the combinations generated by the

[2018-05-18 20:52] wrathagom commented on #206
@Johnz86 I also took an in-depth look at memory usage today. By default, we allow 4 training process. These process each load the spacy language model when they are started. and they never go away (they just wait for more training requests). Running on a server with just 4G of ram, I would recommend reducing the number of training processes to 2.

This is controlled by the Rasa Docker file, for wh

[2018-05-21 12:09] broham89 commented on #215
If you're using a generator to pick those colors then it's totally fine to use that. Just make sure the colors are not too light to the point you can't see the text behind a white bg.

[2018-05-22 00:34] milutz opened #217 "Make 0.8.1 release"
From template: https://gist.github.com/milutz/d3a975201c31d0d760719d7e9f8bd122

Checklist for issuing the 0.8.1 version of articulate
- [ ] Update main compose with the version of this release
[code]
- [ ] Do a test build and run to make sure it doesn't immediately blow for some reason
[code]
- [ ] Get the changes checked back in then tag to kick off a build
[code]
- [ ] build the docker-compose z

[2018-05-22 08:29] dcalvom commented on #206
Hi @Johnz86, whenever you try to import an agent please be sure you exported your agent setting the flag withReferences to false. Like in the following image:

![image](https://user-images.githubusercontent.com/7228045/40350713-d11d39a6-5d67-11e8-9613-16ebe7e56edd.png)

I apologize for this inconvenient as we know this should be written somewhere. We hope in the feature include this feature in the

[2018-05-22 17:06] dcalvombl commented on #206
Sure. I will default to false.

I use it for development purpose to know the id of my domains and intents as exports let me know visually which one are related

[2018-05-22 19:28] wrathagom opened #218 "Allow formatting POST response with Handlebars"
1. Move `Webhook Definition` directly below slots.
2. Add a new header below that that says `Response Definition`
3. Move the Agent Responses section below that
4. Add a new input below Agent Responses for `Response formatting` that’s a code block. it defaults to whatever handlebars would generate the current response.

[2018-05-22 19:28] wrathagom commented on #218
Per request from @BreadAndRoses95

[2018-05-22 21:21] wrathagom commented on #205
@milutz should we close this since we're going to jump it with 0.9.1?

@dcalvom what was still required on 0.9.1?

[2018-05-22 21:22] dcalvom commented on #205
We need to cherrypick yesterday commits of 0.8.1 and check if there is need for any change

[2018-05-22 21:27] milutz commented on #205
I've been reusing these until I complete a given 0.X release done - still haven't got a 0.9 out the door yet so I was going to keep going - BTW 0.9.1 was already used.  So if I cherry pick that will be 0.9.2

[2018-05-22 22:27] milutz commented on #205
Gang found bug, cherry-picking in 884d1ef4273061fa78b7c876f4ae8637da53464d

New tasks:

- [ ] Update main compose with the version of this release
[code]
- [ ] Get the changes checked back in then tag to kick off a build
[code]
- [ ] build the docker-compose zip file
[code]
- [ ] (after docker cloud is done with the build) unzip the zip - do a `compose up` and test
[code]
- [ ] Make a new release

[2018-05-23 01:10] broham89 commented on #198
[nlu-styles.zip](https://github.com/samtecspg/articulate/files/2029109/nlu-styles.zip)
All the changes are in `settings.html` page

Files to look out for:
1. **_primary-button.scss**
2. **_right-panel.scss**
3. **header.scss**
4. **_base.scss**
5. settings.html

[2018-05-23 01:11] broham89 commented on #213
[nlu-styles.zip](https://github.com/samtecspg/articulate/files/2029115/nlu-styles.zip)

open `settings.html` for the fixed header layout

[2018-05-23 01:11] wrathagom commented on #213
Does this conflict or go with the training button?

[2018-05-23 01:12] broham89 commented on #213
it goes with the training button

[2018-05-23 01:17] wrathagom commented on #215
Closed with 5e951ea02a32cbf14021398128f0520f5202f634

[2018-05-23 01:17] #215 closed

[2018-05-23 01:38] wrathagom commented on #207
closed by 09272e48cb0bd1b5181c59a8ba657c4717ab8ff7

[2018-05-23 01:38] #207 closed

[2018-05-23 02:03] #205 closed

[2018-05-23 08:34] BreadAndRoses95 commented on #218
Could try to work on it but I'm wondering if this should not be done at an higher level so that it can be set for every intent? And maybe let the user override this behavior at the intent level?

[2018-05-23 12:18] wrathagom commented on #218
The way the webhook works anyway is that it has a default. So in this case we could default to the current payload which is something like:

[code]

[2018-05-23 12:27] wrathagom commented on #218
yeah, makes sense to me.

[2018-05-23 13:57] ewoo opened #219 "Need a Quick Way to View Parse Results & CSO"
We've had the need for the developer to review parse results and conversation state object. A quick way to meet this need without too much effort (that's reasonably acceptable) would be to provide a two tiny icons next to the dialog bubbles.

- One would link (POST) to take (new tab) the user to the parse API and display the results to the user.
- Another would link to the take the user to another

[2018-05-23 20:33] dcalvom commented on #198
Closed by https://github.com/samtecspg/articulate/commit/c2bb77388a05a9e303bed57800df33b6e02155ed, https://github.com/samtecspg/articulate/commit/7c7986cee0554d7bdca561e9a5af4ae67f984b44, and https://github.com/samtecspg/articulate/commit/f253d19a7586843d608d350b3dd27ce8d9d76997

[2018-05-23 20:33] #198 closed

[2018-05-23 21:27] broham89 commented on #198
[nlu-styles.zip](https://github.com/samtecspg/articulate/files/2032848/nlu-styles.zip)

So I have the animation `bot-training.svg` in the zip file. It only shows in the `settings.html` after the user clicks on the training button.

Things that are edited:

1. **js/script.js** line 17 -24
2. **components/_primary-button.scss** line 27 -67
3. **settings.html** line 103 - 111
4. **_right-panel.scss**

[2018-05-24 21:48] broham89 commented on #219
On it, I'm trying out different effects to click on the chat bubble that shows the links.  I'm thinking that links text like `POST` and `CSO` explain more to the user what they are instead of icons.

Currently this is what i'm thinking of doing (image)... But ran into issues like, what would happen if the user only typed 1 word the chatbubble would be tiny and the View links would just visually ha

[2018-05-24 22:04] broham89 commented on #219
<img width="668" alt="screen shot 2018-05-24 at 4 53 44 pm" src="https://user-images.githubusercontent.com/11262149/40515926-6f6a0de2-5f74-11e8-9456-846b4a8a584d.png">
<img width="671" alt="screen shot 2018-05-24 at 5 03 23 pm" src="https://user-images.githubusercontent.com/11262149/40515927-6f7bc438-5f74-11e8-9cf2-06325311242c.png">

This is another version i'm currently thinking of working on.

[2018-05-25 00:40] wrathagom opened #220 "Entity dependancy not removed when examples/slots removed from intent."
I believe this is what is plagueing Marco.

Steps to reproduce:

1. Create an agent
2. Create a domain
3. Create an entity `toppings`
4. Create an intent and make sure to use that entity in your examples. Save that intent
5. Go back into the intent and remove all user examples that use that entity
6. delete the slot
7. save your intent changes
8. go to entity page and look at where used... it is s

[2018-05-25 00:42] wrathagom commented on #220
I also tried deleting the entire intent, but that didn't work either.

[2018-05-25 01:20] wrathagom commented on #220
This is the suspect method https://github.com/samtecspg/articulate/blob/master/api/modules/intent/tools/updateEntitiesDomain.intent.tool.js

[2018-05-25 01:25] wrathagom opened #221 "If training fails agent get's stuck in training status"
I forgot to change the memory allocation in Docker and so training failed. I thought I would just add more memory/restart docker and away I would go. But now my agent is stuck in training status and I can't fix it.

Steps to re-produce:
1. Start an agent training
2. Ctrl+c while training is going on.
3. Try to `docker-compose up`
4. agent should be stuck in training status.

[2018-05-25 01:28] wrathagom commented on #221
Okay never mind, I waited longer and it fixed itself.

@dcalvom any idea how/why it switched to an error status? I'm glad that it did, just curious how/why.

[2018-05-25 01:30] wrathagom commented on #221
er, I clicked train and it immediately changed to ready, without any real training taking place. So maybe didn't handle things perfectly.

[2018-05-25 03:47] ewoo commented on #219
I was thinking the options would appear inside the bubble right-aligned (see image). Also, the buttons would be "Parse Results" and "Context" but they're kind long. I wonder if you could have icons for each like a book and a speech bubble? (Need to work on ideas for what iconography are appropriate for those.)

![bubble-inspection-actions](https://user-images.githubusercontent.com/278197/40525165-

[2018-05-25 03:49] ewoo commented on #219
Maybe the wording should say, "Debug: [Parsing] [Context]"?

@wrathagom your preference?

[2018-05-25 13:43] broham89 commented on #219
@ewoo @wrathagom  Could you provide some examples snapshots of what `Parse` and `context` looks like and what they are used for? Just enough for me to understand how I can start designing the icons for them.

[2018-05-25 19:28] dcalvom opened #222 "Import is failing when regex = null"
If an entity doesn't have a regex then the exported value is null. Then the import fails with the following error:
[code]

[2018-05-25 19:44] cjhurst commented on #222
@dcalvom Is there any sort of error stack trace that comes back from the http request as well as the json body? It would be exceedingly helpful for me if that was always included... so that I could see the exact line of code to go look at and trace the logic. @wrathagom Is there a different way in which this is usually handled?

[2018-05-25 19:49] wrathagom commented on #222
There probably is in the docker logs, but this is coming from a user... so we get what we get. We probably could've asked Marco for the logs.

That being said my guess is that @dcalvom already knows where to look for this as we fought something similar in the API when this regex functionality was pulled in.

[2018-05-25 19:53] cjhurst commented on #222
I see. thanks :)

[2018-05-25 20:04] dcalvombl commented on #222
When tackle this we are going to add a unit test where you export, delete and import the same agent.

[2018-05-25 20:10] dcalvom commented on #222
When tackle this we are going to add a unit test where you export, delete and import the same agent.

[2018-05-26 01:33] wrathagom commented on #219
they are both big ass JSON snippets. one has the NLU (intent/entity) information the other has the slots/historical information.

[2018-05-26 01:34] wrathagom commented on #219
@ewoo why the duplicate tag, is there another issue for this someplace. I'll read through them all here in a minute.

[2018-05-26 01:35] wrathagom commented on #213
Closed with training button release

[2018-05-26 01:35] #213 closed

[2018-05-26 01:35] wrathagom commented on #212
Is the plus icon easy to add with the React components we're using?

[2018-05-26 03:04] wrathagom commented on #212
addressed by 397193a94585930ee648dc56a96fafbf8c3935f7 but still waiting on confirmation that it is good.

[2018-05-26 03:04] wrathagom commented on #212
<img width="1648" alt="image" src="https://user-images.githubusercontent.com/1779894/40571992-02611af4-6070-11e8-9153-57558c94fafd.png">

[2018-05-26 03:11] broham89 commented on #212
The plus icon is in materialize named add

[2018-05-26 04:51] wrathagom commented on #192
Hopefully no one has started on this. I am close to an implementation proposal as part of a larger enhancement. So this one is waiting on me.

[2018-05-26 05:41] wrathagom opened #223 "Handling Non-Linear Dialogue - Modifier Intents and Response Intents - WIP"
_**WORK IN PROGRESS**_

I've been cooking for awhile now on a proposal for how to handle non-linear dialog. Right now our slot filling allows linear dialog. But take for instance an insurance chatbot, with a non-linear dialog, or tree based dialog: (italics are the bot, bold is the user)

- _Are you trying to update an existing policy or create a new one?_
  - **I need a new policy**
    - _Great,

[2018-05-27 23:15] broham89 commented on #219
<img width="185" alt="screen shot 2018-05-27 at 6 14 30 pm" src="https://user-images.githubusercontent.com/11262149/40591600-dd9ead24-61d9-11e8-9db8-08124900db50.png">
How about these icons? @ewoo @wrathagom

[2018-05-28 02:50] wrathagom opened #224 "Simplify Dialogue Code/Improve Readability"
I've been in the dialogue code a lot over the weekend and while I can follow it I think we may need to improve it's readability before we start working on modifier intents and or response links/intents.

@malave since you didn't write it can you take a look and propose some improvements.

@dcalvom am I correct that we don't have very robust tests on Dialogue? Maybe we should work towards creating

[2018-05-28 08:44] Johnz86 commented on #206
Hi, I did increase the amount of ram to 8GB, after that, I am no longer suffering from memory issues in longer running instance. Current setup is running for a week. After today training with newest version of articulate still works. This issue can be closed.

[2018-05-28 08:49] Johnz86 opened #225 "Supported handlebars functions."
Today I did try to create a response with a link. The problem is that if I want to create custom text, then handlebars function fails to create a response
[code]
And I get an error In api endpoint
[code]
What is the list of supported handlebars functions?
Is there a possibility to create custom link?
FYI: Pasting a pure link works. This is results in very looong texts. This why I want to have cust

[2018-05-28 12:38] Johnz86 commented on #222
I monkey patched this by replacing ```"regex": null,``` with ```"regex": "",```.

[2018-05-28 12:45] Johnz86 opened #226 "Synonyms for entities are ignored."
Articulate v0.9.2

### Issues

 "entity_synonyms": [] are never filled for training_data.json rasa, even if user defines them in entity view.
![image](https://user-images.githubusercontent.com/2708520/40614548-81109860-6283-11e8-9bda-6fd1ebdf1c2a.png)

And training data will look like:
[code]

[2018-05-28 14:04] wrathagom commented on #225
@Johnz86 where did you see that helper. It's likely just that we don't have it installed as I don't think it' s part of the default handlebars functionality. We can either install it/add it. Or think of some way of exposing the ability to install your own. But that will take more thought as it's code execution...

We support the default handlebars functionality as well as most of [these](https://g

[2018-05-28 14:04] wrathagom commented on #226
Good catch, we didn't use these before as we were creating `common_examples` from a Cartesian product of the entities/synonyms and training examples. Now that we allow you to turn that functionality off We need to make sure and populate this.

[2018-05-28 15:01] Johnz86 commented on #225
@wrathagom I seen it here http://handlebarsjs.com/expressions.html
Adding a link is common thing in FAQ answers. Normal links work, but shorter anchor links are preferable.

[2018-05-28 15:09] wrathagom commented on #206
Thanks @Johnz86

[2018-05-28 15:09] #206 closed

[2018-05-28 15:10] wrathagom opened #227 "Change Agent export default to not include IDs"
Right now the agent export default is to include IDs, we should change it to not include them as the default behavior when exporting is to import elsewhere...

[2018-05-28 15:16] wrathagom commented on #225
Are you just showing the links in our chat area or what platforms do you have connected to Articulate? We can show some rich text in our chat area, but it likely wont be compatible with other services.

[2018-05-28 16:47] broham89 commented on #219
<img width="272" alt="screen shot 2018-05-28 at 11 46 31 am" src="https://user-images.githubusercontent.com/11262149/40623462-e879fd00-626c-11e8-8039-6668ceba56c4.png">

[2018-05-28 16:52] broham89 commented on #219
<img width="273" alt="screen shot 2018-05-28 at 11 51 28 am" src="https://user-images.githubusercontent.com/11262149/40623630-7fd99a66-626d-11e8-8d17-fb5486318698.png">
^ here is a simpler look having the JSON brackets to quickly signify to the user too see the code behind it.

[2018-05-29 01:35] wrathagom commented on #219
I think without text the user will be baffled of what it means. I think a simple `view source` type text would suffice. Or maybe the icon as an indicator of a debug type area and then several buttons for parse, context, etc.

[2018-05-29 01:37] wrathagom commented on #227
closed by https://github.com/samtecspg/articulate/commit/4e587b851072b5ed69e1bd93381863cf2e0653e2

[2018-05-29 01:37] #227 closed

[2018-05-29 01:39] wrathagom commented on #226
@dcalvom I don't think there is any disadvantage to generating this section even when we are generating the Cartesian product.

[2018-05-29 01:43] dcalvom commented on #226
Ok this is an easy one. I will tackle it tomorrow if you don't go for it first :)

[2018-05-29 01:44] wrathagom commented on #189
@dcalvom I think this is closed with pagination right?

[2018-05-29 01:44] wrathagom commented on #190
Is this addressed with the training changes?

[2018-05-29 01:45] wrathagom commented on #174
Closing in favor of #223

[2018-05-29 01:45] #174 closed

[2018-05-29 01:45] dcalvom commented on #190
Yes! I haven't had that issue anymore since that chnage

[2018-05-29 01:47] #190 closed

[2018-05-29 01:48] dcalvom commented on #189
Yes it is

[2018-05-29 01:48] #189 closed

[2018-05-29 08:30] Johnz86 commented on #225
Currently no platforms are connected to articulate. In future I need to connect them to a website and internal company chat system. I think, that we will reuse some API endpoint, but currently I have no idea, how to connect my own chat presentation layer to articulate. Which endpoints can be used for this?

[2018-05-29 11:34] wrathagom commented on #225
Whenever you are chatting in the interface you are using the `/converse` endpoint with a session ID of `articulateUI`

[2018-05-29 19:10] broham89 commented on #219
Things that I edit/added:

1.  js/**script.js** line 27-30
2. scss/components/**_chat-bubble.scss** line 140-190
3. **settings.html** `div class="source-links"` lines 108-115 and 122-129
4. added img/**json.svg**

[nlu-styles.zip](https://github.com/samtecspg/articulate/files/2050375/nlu-styles.zip)

[2018-05-29 20:40] milutz commented on #205
... and a 0.9.3 release...

New change - fix for synonyms

New tasks:

- [X] Update main compose with the version of this release
[code]
- [X] Get the changes checked back in then tag to kick off a build
[code]
- [ ] Build the images and push them
[code]
- [ ] build the docker-compose zip file
[code]
- [ ] (after docker cloud is done with the build) unzip the zip - do a `compose up` and test
[code

[2018-05-31 12:26] Johnz86 opened #229 "Trained intents ignore some sentences return default utterance"
### Issues

#### Articulate v.0.9.2/linux AWS machine
Example different results for same intent:
![image](https://user-images.githubusercontent.com/2708520/40782091-89a8f370-64de-11e8-9410-d13ff53a77e9.png)

[2018-05-31 12:49] wrathagom commented on #229
Can you give us the full `/parse` output for that utterance? It's likely you just need more training data or to drop one of the thresholds down.

[2018-05-31 13:11] Johnz86 commented on #229
@wrathagom I added three more sentences to the intent, which resolved the issue for now.
What I find weird and difficult to follow is what amount of sentences are enough to reach threshold of the intent. The behavior manifested after I added more new intents.  Which for some reason should lower the confidence level of matching intent.
If I continue to add more intents, and the confidence will be l

[2018-05-31 13:17] wrathagom commented on #229
hmmm, well we're going to try and help a little bit, by adding links to the `/parse` results so you can see the confidences. #219

But I think what you are saying makes sense.  There are a few different directions things can go. If you add more and more examples that are very similar to each other you will "overfit" the model to that sentence type. It will become too specific.

Another thing that

[2018-05-31 13:29] Johnz86 commented on #229
@wrathagom Thank you. I know that there are lot of issues, but I can see that project is on good track, with the speed of responses. The use case for articulate is very fitting for my needs. Even that project is still WIP, it still is enough to prepare POC or MVP for customer to show. Even with all the issues it is still better doing everything by hand with only "rasa" platform. I can not imaging

[2018-05-31 18:59] dcalvom opened #230 "PUT agent/{id}/import for update the whole agent"
### Feature Request

@vargasbo is currently exploring articulate and he wants to be able to manage his agent versions. Given that we are not managing the versions of the agent on articulate he will use GIT to store the agents and whenever he needs to use a specific version he would like to be able to import that version easily into Articulate but without having the need of creating an agent with a

[2018-05-31 20:02] wrathagom opened #231 "Add Entity Types"
The idea with entity types is to allow them to beyond just what Rasa offers from a CRF learned type have some entities that are matched in other ways. So the types we could potentially have would be:

- Learned (existing CRF/Rasa functionality)
- Regex Match (an exact match to a regex string)
- Fuzzy Match (some sort of distance equation or maybe using ES search results)
- Phrase Match - entity ex

[2018-05-31 20:35] dcalvom commented on #222
Closed by https://github.com/samtecspg/articulate/commit/79da66f1fab6b40e1278c39877a3569076b4fe03

Tests included

[2018-05-31 20:35] #222 closed

[2018-05-31 21:17] milutz commented on #205
... and a 0.9.4 release...

New change - fix for synonyms

New tasks:

- [X] Update main compose with the version of this release
[code]
- [X] Get the changes checked back in then tag to kick off a build
[code]
- [x] Build the images and push them
[code]
- [x] build the docker-compose zip file
[code]
- [ ] (after docker cloud is done with the build) unzip the zip - do a `compose up` and test
[code

[2018-06-01 04:41] wrathagom opened #232 "Changing from no generated data to generated data should update status to out of date"
Right now if you have a domain set to NOT generate additional training data and you change that. The agent status stays ready, but should go into an out of date state allowing you to re-train and generate the new training data.

[2018-06-01 13:16] wrathagom commented on #231
This is a follow on to this https://github.com/samtecspg/articulate/pull/228/commits/ba613501c5b19612f7a579d3e7c1964a65002acd which will need refactored when we introduce entity types.

[2018-06-01 20:58] dcalvom commented on #163
Closed by 31accfe

[2018-06-01 20:58] #163 closed

[2018-06-01 22:38] dcalvom commented on #218
This issue was solved by @BreadAndRoses95 already. But this shouldn't be closed until we fix this part of the UI

![image](https://user-images.githubusercontent.com/7228045/40866314-46958580-65ba-11e8-9927-2d59058fd8f8.png)

[2018-06-02 04:17] wrathagom opened #233 "UI yarn error file"
We need to remove this file from the repo and add an entry into the .gitignore for it

[code]

[2018-06-02 04:19] wrathagom opened #234 "Bad Status on a clean install/restart"
I had a trained an agent, but then restarted Articulate to pull in the latest changes. I did a `git clean xdf` as well as a `docker-compose pull` There are a bunch of console errors and the agent still shows a ready status. There is no active agent.

![image](https://user-images.githubusercontent.com/1779894/40870302-a716b7ea-65fa-11e8-822f-f49696cad624.png)

<img width="1648" alt="image" src="htt

[2018-06-02 04:20] wrathagom opened #235 "No default webhook payload on agent page"
On the create intent page, if you choose to have. JSON payload for your webhook there is a default value. But this default doesn't load on the agent page.

[2018-06-02 04:21] wrathagom opened #236 "Add indents to default response format code block"
I think this should be formatted as:

[code]

rather than

[code]

which is is currently. Also are the `"` around `{{textResponse}}` necessary?

[2018-06-02 04:32] wrathagom opened #237 "Webhook and response format are missing from edit agent page"
Uh yeah, where'd they go?

<img width="1648" alt="image" src="https://user-images.githubusercontent.com/1779894/40870395-7171e2ca-65fc-11e8-9720-c7e092f5a079.png">

[2018-06-02 04:38] wrathagom opened #238 "Drag handle not showing up"
Sorry @dcalvom but the drag handle isn't showing up for me in Chrome or Safari:

<img width="1107" alt="image" src="https://user-images.githubusercontent.com/1779894/40870436-455c1ad8-65fd-11e8-85bf-2fe2954a2717.png">

[2018-06-02 04:41] wrathagom opened #239 "sys included in response even though I didn't specify for it to be in webhook response"
Why is sys being added to everything?

[code]

[2018-06-02 05:26] BreadAndRoses95 commented on #236
As it's a text field I think they are to be properly parsed as json after the handlebar processing, would work without " with int or bool though

[2018-06-02 06:04] dcalvom commented on #234
This is part of a lot of annoying actions related with the local storage stuff

[2018-06-02 06:04] dcalvom commented on #233
Closed by https://github.com/samtecspg/articulate/commit/5c1ffc0759ac3f143b18ad209f97387643b8c5d6

[2018-06-02 06:04] #233 closed

[2018-06-02 06:09] dcalvom commented on #235
Closed by https://github.com/samtecspg/articulate/commit/203a7ac305430c439dfc250105222a08f5eac120

[2018-06-02 06:09] #235 closed

[2018-06-02 06:10] dcalvom commented on #238
According to @broham89 design, the card doesn't have a drag. Maybe we can reopen the sort slot issue if you think it should have it

[2018-06-02 06:10] #238 closed

[2018-06-02 06:13] dcalvom commented on #239
When a system entity is recognized it is added to the sys attribute inside the slots. Regarding on the second "sys.duckling_amount-of-money" I assume that you created a slot with by tagging some text with sys.duckling_amount-of-money entity, therefore a named slot is created with that name.

[2018-06-02 07:02] dcalvom commented on #237
Closed by https://github.com/samtecspg/articulate/commit/d0deff53252370622e2fffc850b171e44ef60980

[2018-06-02 07:02] #237 closed

[2018-06-02 07:05] dcalvom commented on #236
Closed by https://github.com/samtecspg/articulate/commit/b582ebafb5bd9d35ac432544f5466f0cfea48ab6

[2018-06-02 07:05] #236 closed

[2018-06-02 07:40] dcalvom commented on #232
Closed by https://github.com/samtecspg/articulate/commit/f621140ca8506d4d33f43950c1890b950b6bb5bc

[2018-06-02 07:40] #232 closed

[2018-06-02 12:57] wrathagom commented on #234
@malave did you implement the localStorage stuff? Should we move to sessionStorage instead? It's weird what things persist even on fresh loads.

We do have the query hitting the API frequently... maybe we should just clear the agent out if we get an agent not found error.

[2018-06-02 22:07] wrathagom commented on #239
but if we now allow formatting the response, shouldn't it be up to the user to include sys or not?

[2018-06-02 22:52] dcalvom commented on #239
Yeah, but that would imply something else. Right the sys entities are part of the default response in the parse method, that's why when you include {{{JSONstringify slots}}} in the Response definition all the sys slots are included.

[2018-06-02 22:53] wrathagom commented on #239
but those aren't slots those are entities

[2018-06-02 22:55] dcalvom commented on #239
That's true!...then we need to design the response. By default, I was including those in the slots, but now I don't remember if that was because of a special reason. I will check it out, by the moment let me know if you have something in mind for this change.

[2018-06-02 23:39] dcalvom commented on #234
I think sessionStorage would not be the fix given that if the user open a new tab of Articulate he would need to select the agent again:

**sessionStorage:**

1. It is similar to localStorage.
2. Changes are only available per window (or tab in browsers like Chrome and Firefox). Changes made are saved and available for the current page, as well as future visits to the site on the same window. Once

[2018-06-03 12:15] wrathagom commented on #239
My vote is just to remove it from the slots. If we still want access to it we add it to the root of the CSO.

[2018-06-03 14:45] dcalvom commented on #239
Ok! Sounds good

[2018-06-05 14:11] broham89 commented on #175
Here is another example for multiple links for settings located in the left navbar.
<img width="474" alt="screen shot 2018-06-05 at 9 09 35 am" src="https://user-images.githubusercontent.com/11262149/40981393-6c131e1a-68a0-11e8-8e1c-5700bf58975f.png">

[2018-06-05 18:21] ewoo opened #240 "Allow custom webhook headers"
If I create a webhook and specify a BodyType or None, I do not have access to the response content when the webhook is returned. This may be because Articulate is expecting a return content type of JSON and is unable to parse the results when it's something else.

Consider that a valid return type might be HTML, XML (heaven forbid), or text--not just JSON. Articulate should be able to handle any o

[2018-06-05 18:24] ewoo commented on #240
{{ response.Content }} << by default, all content is available as plain text as a _flattened_ string

{{ response.Property.SubProperty }} << when available, the response content is traversable via properties

[2018-06-05 18:26] dcalvom commented on #240
If you want the full JSON from webhookResponse then you need to call the JSONstringify helper and escape it with another set of brackets like this `{{{JSONstringify webhookResponse}}}`

[2018-06-05 19:00] ewoo commented on #240
Thanks @dcalvom got that to work. But when calling a simple GET without using JSON, I am unable to access any response content.

[2018-06-05 21:19] dcalvom commented on #196
Closed by https://github.com/samtecspg/articulate/commit/a357f21738bd20465bc8d780fc7f25c2bad94bdf

[2018-06-05 21:19] #196 closed

[2018-06-05 21:20] dcalvom commented on #175
@wrathagom what is you preferred option for the UI?

[2018-06-05 21:21] dcalvom commented on #185
@broham89 can you come up with some designs for this screen?

[2018-06-05 21:29] dcalvom commented on #84
Could this one be closed in favor of https://github.com/samtecspg/articulate/issues/175 or not yet?

[2018-06-05 21:33] dcalvom opened #241 "Fix localStorage usage"
Currently, we have this issues related to local storage stuff:

- https://github.com/samtecspg/articulate/issues/234
- https://github.com/samtecspg/articulate/issues/194
- https://github.com/samtecspg/articulate/issues/135

We need to rethink about the local storage stuff

[2018-06-05 21:34] dcalvom commented on #234
Closed in favor of https://github.com/samtecspg/articulate/issues/241

[2018-06-05 21:34] #234 closed

[2018-06-05 21:34] dcalvom commented on #194
Closed in favor of https://github.com/samtecspg/articulate/issues/241

[2018-06-05 21:34] #194 closed

[2018-06-05 21:34] dcalvom commented on #135
Closed in favor of https://github.com/samtecspg/articulate/issues/241

[2018-06-05 21:34] #135 closed

[2018-06-05 21:36] dcalvom commented on #10
@broham89 this is not urgent but I remember @wrathagom said something about adding an import option in the create page of the agent. If so how you envision that?

[2018-06-05 21:40] dcalvom commented on #20
@wrathagom could we close this given that you are thinking on one-click install domains here https://github.com/samtecspg/articulate/issues/203?

[2018-06-05 21:44] dcalvom commented on #32
https://github.com/spencermountain/compromise is a nice example of something you would like to add to your custom pipeline of ML libraries.

By the moment you thought on this `/settings` endpoint didn't exist. Now, we just did a change in settings endpoint that would allow us to store the elements that parse would call whenever a request comes to it.

[2018-06-05 21:47] dcalvom commented on #37
I think this is tackled with training detachment:

Regarding this:

Is something that we could include alongside with the https://github.com/samtecspg/articulate/issues/171 in some section for Agent test

[2018-06-05 21:52] dcalvom commented on #66
Is this question still open! at least for the tests, I have done so far is not something that causes me troubles, in example with Florence the recognition worked fine, and I think for Marco in his agent the performance wasn't affected by the number of examples in his intents.

[2018-06-05 21:57] wrathagom commented on #66
I'm good with closing.

[2018-06-05 21:57] #66 closed

[2018-06-05 21:58] wrathagom commented on #66
As a side note the generation was what would make it really unbalanced... so if you experience problems with unbalances data may be a sign you should turn off the generation.

[2018-06-05 22:00] wrathagom commented on #37
In my mind it's not #171 this is a UI specifically geared towards reviewing user requests and labeling them if mislabeled. Agree that we have implemented the training control piece of this.

[2018-06-05 22:01] dcalvom commented on #37
Oh I see. And what would happen with those? are they going to be part of the training data after relabel?

[2018-06-05 22:07] wrathagom commented on #37
yep, similar to https://dialogflow.com/docs/history

[2018-06-05 22:13] wrathagom commented on #240
@ewoo I want to morph this into a more generic "Allow webhook header configuration" which I think would solve both problems. Good with that?

[2018-06-06 01:29] broham89 commented on #175
[nlu-styles.zip](https://github.com/samtecspg/articulate/files/2074464/nlu-styles.zip)

Things added:
1. **settings.html** almost everything
2. **js/script.js** line 27-52
3. **components/_sidenav.scss** 107 - 152
4. **components/_base.scss** just added new css to the `h3` and `h4` line 43- 50. Also added article css line 74-76

* Also to note: I didn't have the correct `input` style css so just r

[2018-06-06 13:32] broham89 commented on #175
[nlu-styles.zip](https://github.com/samtecspg/articulate/files/2076457/nlu-styles.zip)
Things added:

settings.html almost everything
js/script.js line 27-52
components/_sidenav.scss 107 - 152
components/_base.scss just added new css to the h3 and h4 line 43- 50. Also added article css line 74-76
Also to note: I didn't have the correct input style css so just replace the input placeholders i curre

[2018-06-06 22:48] broham89 commented on #10
<img width="1047" alt="import" src="https://user-images.githubusercontent.com/11262149/41069032-c2452370-69b1-11e8-821a-2e506608e46f.png">

[2018-06-06 23:01] wrathagom commented on #10
I think so of the conversation needs to go on where to put this in the UI. Does the user click on the create agent button and get taken to the screen with the form, but there input button is someplace? Or does clicking on the Create agent button take them to a landing page where they have to choose: New Agent, Import Agent, Demo agent.

If we know for sure we're going to do the pre-build demo agen

[2018-06-06 23:12] broham89 commented on #185
Could I get a little more info on what each bullet points configuration do and what input style you need from the user to override them? For example, `Domain Classifier Pipeline` is it just a simple input that you need from the User to override or is it more intricate where you need a have a code block?

However, would it be appropriate to just have an `advance option (down-icon)` and it would ope

[2018-06-06 23:18] wrathagom commented on #185
these are the same settings as from the settings page, just local to the agent. So you can set a Rasa URL for Articulate, but an individual agent could use a custom URL if it needed to be on a different server.

[2018-06-06 23:19] wrathagom commented on #185
both of the pipelines are code blocks, but again this list will grow and will likely long term be a mix of toggles, code blocks, inputs, dropdown, etc.

[2018-06-06 23:53] broham89 commented on #10
If the import agent was on the screen that has: New Agent, Import Agent, & Demo agent - and the user imported an agent. Would they still need to input the name of the agent description and other present inputs for creating an agent? Because I'm thinking if they import an agent it should automatically fill out the necessary input values name, description, threshold value, etc... But if User needs t

[2018-06-07 22:47] broham89 commented on #10
<img width="1243" alt="static" src="https://user-images.githubusercontent.com/11262149/41130071-a8e954ae-6a7a-11e8-9fd8-25a18aee1b75.png">
<img width="1244" alt="after" src="https://user-images.githubusercontent.com/11262149/41130074-ac6d0332-6a7a-11e8-9632-51e825acde33.png">

^ this would be in the create agent page holding the import button.

[2018-06-07 22:54] broham89 commented on #10
<img width="1244" alt="artboard 31" src="https://user-images.githubusercontent.com/11262149/41130329-cc5a8af6-6a7b-11e8-804c-82ef5117e9cf.png">

^export button would be in the header

[2018-06-08 12:44] BreadAndRoses95 commented on #231
Made a PR on this ( #243 ), let me know what you think about this.

[2018-06-08 16:00] BreadAndRoses95 opened #244 "Starting text with # makes it consider the param empty"
Starting text in params with an # makes Articulate (hapi?) consider that the param is empty, if the # is in the middle of the sentance this causes no issue. This is at least the case for the /agent/{id}/converse endpoint.
![image](https://user-images.githubusercontent.com/25157915/41168248-b450ae7a-6b45-11e8-9a97-037b015ed827.png)

`{"statusCode":400,"error":"Bad Request","message":"child \"text\"

[2018-06-10 15:32] wrathagom commented on #224
@malave this is the issue I mentioned. We're getting ready to make dialogue more involved so I think taking some time to clean this up/scaffold it is worthwhile.

Everything in here is fair game: https://github.com/samtecspg/articulate/tree/master/api/modules/agent/tools

One thing I would really like (though Daniel wasn't certain on linting) is if we could change all instances of `conversationSta

[2018-06-12 05:27] dcalvom opened #245 "Duckling week output change in v0.16.0"
`Week` value wasn't marked as an interval value in older duckling versions. Now given that is marked as an interval we are just returning the value. Nonetheless, the value returned by default by Duckling doesn't contain the `to` value, therefore the conversation fails when the respond method tries to extract the entity value.

[2018-06-13 01:35] broham89 opened #246 "Add help/video button to User Says"
I have created a new html/css/js files just for the button help/video feature. Please look through `index.html` file and `css` to copy and paste the correct styles, I've included comments in each one.

----

[help-video-button.zip](https://github.com/samtecspg/articulate/files/2096341/help-video-button.zip)

@wrathagom @dcalvom

[2018-06-14 02:02] #229 closed

[2018-06-14 02:15] wrathagom commented on #53
We're going to take advantage of this issue to introduce Elasticsearch into the stack. So here's what I'd like to see done to address this particular issue:

- Add ES and Kibana into the compose
- Add ES URL to the settings page
- Make doc storage dependent upon ES connection - If we can communicate with ES then we store off the docs, if not then we don't. If there is a connection specified and th

[2018-06-14 17:05] macasas opened #247 "Installation without Docker?"
Is it possible to install Articulate without using Docker?

I have tried with Docker on both mac and pc, and have wasted 2 days without success. Docker has multiple issues on each OS.

So what do I need to do to run Articulate without Docker?

[2018-06-14 17:22] dcalvom commented on #247
Hi Dave,

This is not straightforward given that you need to coordinate multiple services. You will need to setup and run rasa, duckling, redis individually and then setup Articulate.

We do start Articulate locally without docker for development purposes but given the time to set up the other services individually, we prefer to use docker.

If you want to give it a try go ahead and start by [inst

[2018-06-14 17:32] macasas commented on #247
Thanks for your quick reply.

I will give it a try, but it doesn’t look promising. :-)

On 14 June 2018 at 20:22:44, Daniel Calvo Marin (notifications@github.com)
wrote:

Hi Dave,

This is not straightforward given that you need to coordinate multiple
services. You will need to setup and run rasa, duckling, redis individually
and then setup Articulate.

We do start Articulate locally without docke

[2018-06-14 17:53] dcalvom commented on #247
Hey @macasas just by curiosity. What are the issues you are experimenting with docker? Do you think those are related with your docker configuration or with Articulate?

[2018-06-14 17:59] macasas commented on #247
Docker all the way, but the end result is no Articulate.  I’m a
conversational architect, not a software guru, and if something is this
hard to install, it will eventually not get installed and I’ll end up
having to use something else.  I’ve tried on mac and windows.

Login issues, then container issues, then wouldn’t allow shared drive
selection.  Docker takes 30 minutes to make a settings change

[2018-06-14 18:07] dcalvom commented on #247
I see. Well then I think we can close this one. Remember to give a try to cloud instance, the setup could be pretty easy and we could give you a hand.

In my case we use Vultr for cloud instances and it works fine.

[2018-06-14 18:07] #247 closed

[2018-06-15 23:02] dcalvom commented on #220
Closed by https://github.com/samtecspg/articulate/commit/219d435159f705b018f5c8648e9e3a1e801e90ad

[2018-06-15 23:02] #220 closed

[2018-06-15 23:53] utiq opened #248 "Error after restarting machine"
I just restarted my computer without doing `docker-compose down` first and now when I try to parse some text using the API, I get this error in the log

[code]
What can I do?

Docker: Version 17.12.0-ce-mac49 (21995)
OS: MacOS High Sierra 10.13.3
Articulate version: articulate-v0.9.4

[2018-06-15 23:55] wrathagom commented on #248
Where you training or any other activity when you shutdown your PC?

Can you verify that Rasa is running? `docker-compose ps`

[2018-06-15 23:58] utiq commented on #248
No, I wasn't training or any other activity. I see this when `docker-compose ps`

[code]

[2018-06-16 00:01] wrathagom commented on #248
So let's start with a `docker-compose down` and a `docker-compose up`

If that doesn't work you may need to re-train. It may be beneficial to see the result of `curl localhost:5000/status`

[2018-06-16 00:06] utiq commented on #248
I've done that plenty of times.

Actually where are those model files stored? when I delete the Docker Articulate instances and images the files are still there. This is what I see when I curl `localhost:5000/status`

[code]

[2018-06-16 00:09] wrathagom commented on #248
By default they are stored in the `local-storage/rasa/nlu-model` directory.

Do you have more than one domain? I don't see a domain classifier model.

@dcalvom any thoughts?

[2018-06-16 00:11] dcalvom commented on #248
@utiq Could you provide us the result of listing your agent domains with `http://localhost:8000/agent/{yourAgentId}/domain`

[2018-06-16 00:13] dcalvom commented on #248
@utiq sorry the right port is the `7500` for the API

[2018-06-16 02:37] utiq commented on #248
@dcalvom this is what I get
[code]

[2018-06-16 02:41] utiq commented on #248
Thanks @wrathagom
Do you guys think the data or configuration was corrupted at some point?

[2018-06-16 03:56] wrathagom commented on #248
Have you tried making some small change to re-train? I was trying to re-produce, but no matter how I restarted my Mac it came back up fine :/ I'll keep trying to re-produce this weekend. If possible. Can you zip your local-storage folder and upload it?

[2018-06-16 04:11] utiq commented on #248
Do you have an email where I can send it?

[2018-06-16 04:31] dcalvom commented on #248
Send it to caleb.keller@samtec.com or daniel.calvo@samtec.com

[2018-06-16 18:13] dcalvom commented on #245
Closed by https://github.com/samtecspg/articulate/commit/d6fc09b5fa7abcb42fd06c42fa88fb8a60d4e543

[2018-06-16 18:13] #245 closed

[2018-06-16 18:13] dcalvom commented on #221
Closed by https://github.com/samtecspg/articulate/commit/e982eff194b00f906db297af4add24a224acb933

[2018-06-16 18:13] #221 closed

[2018-06-17 07:13] amritapcs opened #249 "Unable to deploy Articulate in Windows. "HNS failed with error : The parameter is incorrect""
I am trying to install on google cloud but getting error for the command "docker-compose up" as "alpha-nlu-network" parameter is not correct. HNS service is not started due to invalid parameter. As per the documentation i have changed the localhost with the public vm ip. I have done the changes for Api_url, Swagger_host and docker_instance. Please advice.

[2018-06-17 07:56] dcalvom commented on #249
Hi @amritapcs would you mind to answers this questions please to help you out

Please describe the issue you are having here and answer the question below.

- Did you download a release or pull from Master? Which release?
- What operating system are you running?
- Are you running locally or in the cloud?
- Which browser are you using?

[2018-06-17 13:41] amritapcs commented on #249
Pl see my revert below in red .Appreciate your quick revert.

Regards
Amrita Anand

On Sun, Jun 17, 2018 at 1:26 PM, Daniel Calvo Marin <
notifications@github.com> wrote:

[2018-06-17 13:46] dcalvom commented on #249
Thanks for your answers. So are you running docker on windows? Right?

[2018-06-17 13:53] amritapcs commented on #249
Yes.

Regards
Amrita Anand

On Sun, Jun 17, 2018 at 7:16 PM, Daniel Calvo Marin <
notifications@github.com> wrote:

[2018-06-17 13:58] dcalvom commented on #249
By looking on docker issues it seems it could be related with an issue. Could you check if you are able to update your docker?

[2018-06-17 18:07] milutz opened #250 "Make 0.10 release"
From template: https://gist.github.com/milutz/d3a975201c31d0d760719d7e9f8bd122

Checklist for issuing the 0.10.0 version of articulate
- [x] Make branch, push on GitHub
[code]
- [x] Update main compose with the version of this release
[code]
- [x] Do a test build and run to make sure it doesn't immediately blow for some reason
[code]
- [x] Get the changes checked back in then tag to kick off a bui

[2018-06-17 18:37] dcalvom commented on #249
By the way, Master branch is our working space, so it isn't stable. We recommend you to use our [latest release](https://github.com/samtecspg/articulate/releases/tag/v0.9.4) and follow the [cloud installation instructions](https://samtecspg.github.io/articulate/getting_started/cloud-installation)